TEMPLATER_INFO::START
	TEMPLATER=Templater2
	DEBUG_MODE=1
	//INSTRUCTION_BLOCK_SEPARATOR=
	INSTRUCTION_BLOCK_SEPARATOR_START=<!--#
	INSTRUCTION_BLOCK_SEPARATOR_END=#-->
	PROPERTY_SEPARATOR=:
	VARIABLE_BLOCK_SEPARATOR_START={%
	VARIABLE_BLOCK_SEPARATOR_END=%}
	//VARIABLE_BLOCK_SEPARATOR
	VARIABLE_SEPARATOR=:
	INSTRUCTION_SEPARATOR_START=<!--@
	INSTRUCTION_SEPARATOR_END=@-->
	//INSTRUCTION_SEPARATOR
	BLOCK_NAME_SEPARATOR=::
TEMPLATER_INFO::END<div>Администратор {%adminName%} создал для Вас учетную запись на <a href="{%siteUrl%}"><b>{%siteUrl%}</b></a>.<br />
Имя учетной записи (Логин): <b>{%userLogin%}</b><br />
Для установки пароля к учетной записи, пожалуйста, перейдите ссылке:<br /><a href="{%link%}" target="_blank">{%link%}</a><br /><br />
Для входа в систему используйте адрес: <a href="{%siteUrl%}"><b>{%siteUrl%}</b></a>.</div>'