@import "../../fonts/forms/fonts.css";

/* body{
	background-color:#f7f7f7;
} */

.content-wrap,
div.form-info,
input.send-button,
div#cityId ul.items-container li,div#modelId ul.items-container li,
div.model-list-wrap ul.model-list li,
div.manufacturers-wrap ul.manufacturers-list li,
div.car-wrap ul.car-list li,
div#toyotaLogo,
div#partnerId ul.items-container.more li, ul.select-list.more li,
.items-container li ,
.bstdPopup .content,
.bstdPopup .select-wrap,
.bstdPopup .textarea,
div#partnerId ul.items-container li, ul.select-list li{
	font-family:'Nobel';
	font-family: Arial;
	font-size:15px;
}

div.content-wrap h1,
input.send-button,
div#toyotaLogo h3,
div.success_popup,
div.dealers-agreement_popup,
.error-popup,
.bstdPopup{
	font-family: 'Nobel';
	font-family: Arial;
	font-weight:bold;
}

.red,
.overall-error-trade,
.error_container, .form-error{
	color:#4589ce;
}

.items-container:after {
	background: url('http://content.toyota.ru/img/close-big-popup-lexus.png') center center no-repeat;
}

div.list-tablo, div.select-top,
div.input input, div.textarea textarea{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

div.checkbox {

	background: url("http://content.toyota.ru/img/check-box-lexus.png") no-repeat 0 -60px;
}

input.send-button {
	background: #4589ce;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.block-evaliation{
	/*display:none;*/
}

.items-container {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/*styles for test-drive*/
.autoList{
	width:100%;
	overflow:hidden;
}

div#modelsList div.model {
	width: 30%;
	height: 210px;
	position:relative;
}

div#modelsList div.model div.name {
	font-size: 30px;
	margin: -8px 0 0 70%;
}

div#modelsList div.image {
	width: 70%;
}

div#modelsList div.image img{
	display:block;
	width:100%;
	height:auto;
}

div#modelsList div.submodels {
	margin: 44px 0 0 67%;
}

div#modelsList div.submodelItem label {
	font-size: 14px;
}

div#modelsList div.submodelItem label {
	width: auto;
	/* min-width: 57px; */
	padding: 0 0px;
	height: auto;
}

.submodelItem{
	position:relative;
}

.submodelItem label span{
	display:none;
}

.comment, .submodelItem span, .disclaimer{
	position: absolute;
	font-size: 10px;
	width: 240%;
	top: 5px;
	
	display:none;
}
/* 
.label-radio{
	position: relative;
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.label-radio,
.label-checkbox{
	width: 145px;
	height: 60px;
	float: left;
	background: url("http://content.toyota.ru/img/check-box-lexus.png") no-repeat 0 -60px;
	padding: 18px 0 0 80px;
	margin-top: 9px !important;
	margin-bottom: 0 !important;
	cursor: pointer;
}

.label-checkbox{
	width:100%;
	font-weight:normal;
}

.radio[type=radio]:checked + label,
.label-radio.checked,
.checkbox[type=checkbox]:checked + label,
.label-checkbox.checked{
	background-position: 0 0;
}
 */
 
 
/**/
.ele-container{
	overflow: hidden;
}

.simple-filter{
	overflow: hidden;
}

.filter{
	width:50%;
	float:left;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 31px;
	height: 92px;
}

.label-for-check-radio,
.label-radio{
	position: relative;
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.label-for-check-radio,
.label-radio{
	width: 145px;
	height: 60px;
	float: left;
	background: url("http://content.toyota.ru/img/check-box-lexus.png") no-repeat 0 -60px;
	padding: 18px 0 0 80px;
	margin-top: 9px !important;
	margin-bottom: 0 !important;
	cursor: pointer;
}

.label-for-check-radio{
	width:100%;
	font-weight:normal;
}

input[type=checkbox]:checked + label,
.label-for-check-radio.checked,
input[type=radio]:checked + label,
.label-radio.checked{
	background-position: 0 0;
}
/**/

.label-for-check-radio.checked,
.label-radio.checked{
	background: url("http://content.toyota.ru/img/check-box-lexus.png") no-repeat 0 0px;
}
 
.checkbox-wrap-nolabel{
	margin-top: 51px;
}

div#modelsList div.submodelItem input[type=radio]:checked + label{
	/* text-decoration: underline; */
	background: #0073b9;
	color: #fff;
}


.selected.items-container-right ul{
	right:27px;
}

.checkbox-wrap-nolabel .form-error{
	bottom:0;
}

/* .error_container, .form-error{
	background:#f7f7f7;
} */

.alert .closeButton, .trade-evaluation-form .closeButton {
	background: url('http://content.toyota.ru/img/close-big-popup-lexus.png') center center no-repeat;
}


@media (min-width: 1200px){
	/* input#phone {
		width: 362px;
	} */
}

@media screen and (min-width:992px) and (max-width:1199px) {
	div#modelsList div.image {
		width: 60%;
		margin-left:0px;
	}
	
	div#modelsList div.model div.name {
		font-size:25px;
		margin: -8px 0 0 60%;
	}
	
	div#modelsList div.submodels {
		margin:34px 0 0 55%;
	}
	
	div#modelsList div.submodelItem label {
		font-size: 12px;
		height:20px;
	}
	
	.selected.items-container-right ul{
		right:22px;
	}
	
	/* input#phone {
		width: 267px;
	} */
	
}

@media screen and (min-width:768px) and (max-width:991px) {
	div#modelsList {
		margin-left:0px;
	}

	div#modelsList div.model {
		width: 50%;
	}
	
	.selected.items-container-right ul {
		right: 16px;
	}
	
	/* input#phone {
		width: 180px;
	} */
}

@media (max-width: 767px){
	
	div#modelsList {
		margin-left:0px;
	}

	div#modelsList div.model {
		width: 100%;
		float: none;
		height: 200px;
	}
	
	div#modelsList div.image {
		width: 60%;
	}
	
	div#modelsList div.model div.name {
		margin-top: 20px;
	}
	
	div#modelsList div.submodels {
		margin-top: 64px;
	}
	
	.selected.items-container-right ul {
		right: auto;
	}
	
	.filter{
		width:100%;
	}
	
}

@media (max-width: 480px){
	/* div#modelsList div.image {
		width: 70%;
	}
	
	div#modelsList div.model div.name {
		margin:15px 0 0 60%;
	}
	
	div#modelsList div.submodels {
		margin:55px 0 0 64%;
	} */
	
	div#modelsList div.model {
		height: auto;
	}
	
	div#modelsList div.image {
		width: 80%;
		position: relative;
		float: none;
		margin: 0 auto;
	}
	
	div#modelsList div.model div.name {
		margin-top:0px;
		z-index: 10;
	}
	
	div#modelsList div.submodels {
		position: relative;
		margin: 0;
		overflow:hidden;
	}
	
	.submodelItem {
		position: relative;
		width:100px;
		float: left;
	}
	
	div#modelsList div.submodelItem label {
		width: auto;
		min-width: 0;
	}
	
	div.submodels>div.submodelItem:last-child label {
		border-bottom:1px solid #ebebeb!important;
	}
	
}






