<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

	<script type='text/javascript' src='http://trade.lexus.ru/js/jquery.js'></script> 
	<script type='text/javascript' src='http://trade.lexus.ru/js/jquery-ui.js'></script>
	<script type='text/javascript' src='/js/admStat.js'></script> 
	 
	<link rel='stylesheet' type='text/css' media='screen' href='http://trade.lexus.ru/css/blitzer/jquery-ui.css' /> 
	<style>
	th { text-align: left; font-family:Arial, Helvetica, sans-serif; font-size: 11px; padding-left: 7px }
	h1 { font-family:Arial, Helvetica, sans-serif; font-size: 14px; }
	</style>
</head>
<body style='font-size: 12px;'>
	<div style='margin-left: 50px; margin-top: 50px'>
		<form id="statForm" action="http://content.lexus-russia.ru/z/ttrade/ztx" method="post">
			<table>
				<tr>
					<th сolspan='2'><span style='font-family:Arial, Helvetica, sans-serif; font-size: 12px; padding-left: -7px'>Отчётный период:</span></th>
				</tr>
				<tr>
					<th bgcolor='#E6E6E6'>Дата начала (дд-мм-гггг):</th>
					<td bgcolor='#E6E6E6'><input type='text' id='datestart' name='start' value='' style='width: 100%' /></td>
				</tr>
				<tr>
					<th bgcolor='#E6E6E6'>Дата конца (дд-мм-гггг):</th>
					<td bgcolor='#E6E6E6'><input type='text' id='datestop' name='end' value='' style='width: 100%' /></td>
				</tr>
				<tr>
					<th>&nbsp;</th>
					<td style='padding-top: 10px'><input id="statFormSubmit" type='submit' value='Сгенерировать отчет' style='width: 100%' /></td>
				</tr>
			</table>
			#%#START::A1:type=Item:dataKey=data.hash#%#
			<input id="dealerRCodeHash" type="hidden" name="hash[]" value="%{%dealerRCodeHash%}%" />
			#%#END::A1#%#
			#%#START::A1:type=Item:dataKey=hash#%#
			<input id="dealerRCodeHash" type="hidden" name="hash[]" value="%{%dealerRCodeHash%}%" />
			#%#END::A1#%#
			<input id="site" type="hidden" name="site" value="%{%site%}%" />
		</form>
	</div>
</body>
</html>