<form id="s11a17edit_form" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/models/">
	<div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Включить</div>
			<div class='form-input-box'>
				<input type="checkbox" name="modelFamilyStatus" value="1" />
				<div bstd-form-error="modelFamilyStatus" class="error_container bstd_form_error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Ссылка на специализированную страницу</div>
			<div class='form-input-box'>
				<input type="text" name="modelFamilyPageUrl" />
				<div bstd-form-error="modelFamilyPageUrl" class="error_container bstd_form_error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Порядок сортировки</div>
			<div class='form-input-box'>
				<input type="text" name="modelFamilyOrder" maxlength="3" />
				<div bstd-form-error="modelFamilyOrder" class="error_container bstd_form_error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Комментарий для отображения</div>
			<div class='form-input-box'>
				<input type="text" name="modelFamilyComment" />
				<div bstd-form-error="modelFamilyComment" class="error_container bstd_form_error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Изображение (в формате jpg, png)</div>
			<div class='form-input-box'>
				<input type="file" bstd-type="bstdOnlyUploader" name="modelFamilyImage" bstd-name="modelFamilyImage" bstd-type-prams="controller:l,action:f,path:/admin/models/" />
				<div bstd-form-error="modelFamilyImage" class="error_container bstd_form_error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="l" />
		<input type="hidden" name="b" value="d" />
		<input type="hidden" name="facilityId" value="50" />
		<input type="hidden" name="modelFamilyId" value="" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить' class='ui-input-button' />
		</div>		
	</div>
	<div class='clear'></div>	
</form>