<form id="s11a14upload_form" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/facilities/">
	<div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Файл в формате csv</div>
			<div class='form-input-box'>
				<input  type="file" id="photo" bstd-type="bstdOnlyUploader" name="file" bstd-name="file" bstd-type-prams="controller:m,action:i,path:/admin/facilities/"/>
				<div bstd-form-error="file" class="error_container bstd_form_error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="m" />
		<input type="hidden" name="b" value="h" />
		<input type="hidden" name="facilityId" value="50" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Импортировать' class='ui-input-button' />
		</div>		
	</div>
	<div class='clear'></div>	
</form>