<form id="s1a1_usersFormEdit" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/users/" bstd_error_type="1">
	<div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Тип пользователя</div>
			<div class='form-input-box'>
				<select bstd-form-required="required" name='userTypeId'>
				</select>
				<div bstd-form-error="userTypeId" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Партнер:</div>
			<div class='form-input-box'>
				<select bstd-form-required="required" name='partnerDivisionId'>
				</select>
				<div bstd-form-error="partnerDivisionId" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Имя</div>
			<div class='form-input-box'>
				<input name='userFirstName' type='text' value="" bstd-form-required="required" maxlength='255' bstd_valide_type="name" />
				<div bstd-form-error="userFirstName" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Отчество</div>
			<div class='form-input-box'>
				<input name='userMiddleName' type='text' value="" maxlength='255' bstd_valide_type="name" />
				<div bstd-form-error="userMiddleName" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Фамилия</div>
			<div class='form-input-box'>
				<input name='userLastName' type='text' bstd-form-required="required" value="" maxlength='255' bstd_valide_type="lastName" />
				<div bstd-form-error="userLastName" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Электронная почта</div>
			<div class='form-input-box'>
				<input name='userEmail' type='text' value="" maxlength='255' bstd-form-required="required" bstd_valide_type="email" />
				<div bstd-form-error="userEmail" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Имя учетной записи (логин):</div>
			<div class='form-input-box'>
				<input name='userLogin' type='text' bstd-form-required="required" value="" maxlength='32' />
				<div bstd-form-error="userLogin" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Роли</div>
			<div class='form-input-box'>
				<select multiselect="multiselect" multiple="multiple" bstd-form-required="required" name='roleId'>
				</select>
				<div bstd-form-error="roleId" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-field-box odd'>
				<div class='form-display-as-box'>Подчиненные дилерские центры</div>
				<div class='form-input-box'>
					<select multiselect="multiselect" multiple="multiple" name='children'>
					</select>
					<div bstd-form-error="children" class="error_container bstd-form-error error"></div>
				</div>
				<div class='clear'></div>	
			</div>
			<div class='form-field-box odd'>
				<div class='form-display-as-box'>Роли для управления подчиненнными дилерскими центрами</div>
				<div class='form-input-box'>
					<select multiselect="multiselect" multiple="multiple" name='childrenRoles'>
					</select>
					<div bstd-form-error="childrenRoles" class="error_container bstd-form-error error"></div>
				</div>
				<div class='clear'></div>	
			</div>
		</div>
		
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="a" />
		<input type="hidden" name="b" value="j" />
		<input type="hidden" name="userId" value="" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить изменения' class='ui-input-button' />
		</div>		
		</div>
		<div class='clear'></div>	
	</div>
</form>