<form id="s21a10_addCost" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/tradein/evaluation/" bstd_error_type="1">
	<div>
		
	</div>
	<div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Минимальная цена в рублях</div>
			<div class='form-input-box'>
				<input name='cost' type='text' value="" maxlength='255' bstd-required="required" bstd-valide-type="int" />
				<div bstd-form-error="cost" class='error_container bstd_form_error' ></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Максимальная цена в рублях</div>
			<div class='form-input-box'>
				<input name='costMax' type='text' value="" maxlength='255' bstd-required="required" bstd-valide-type="int" />
				<div bstd-form-error="costMax" class='error_container bstd_form_error' ></div>
			</div>
			<div class='clear'></div>	
		</div>
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="s" />
		<input type="hidden" name="b" id="b" value="g" />
		<input type="hidden" name="memberId" value="" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить изменения' class='ui-input-button' />
		</div>		
		<div class='clear'></div>	
	</div>
</form>