<style>
	.comments-popup .content {
		padding: 0 19px;
	}
	.bstdPopup .label {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		border: medium none;
		border-radius: 0;
		color: #000000;
		display: block;
		float: none;
		font-family: verdana;
		font-weight: normal;
		margin-bottom: 5px;
		margin-top: 10px;
		text-shadow: none;
	}
	.bstdPopup .content > div {
		margin: 30px 20px;
	}
	.bstdPopup .content textarea {
		min-height: 100px;
		width: 100%;
		border: 1px solid #ddd;
		border-radius: 4px;
	}
	.comment.user-name {
		background-color: #F9F9F9;
		font-size: 11px;
		font-weight: bold;
		margin: 0 0 8px;
	}
	.comment.date-time {
		background-color: #F9F9F9;
		border-bottom: 1px dotted #DDDDDD;
		color: #999999;
		font-size: 10px;
		margin-bottom: 4px;
			padding-bottom: 4px;
	}
	.comment.text {
		padding-left: 30px;
	}
	.comment.container {
		margin-bottom: 10px;
	}
	.comments-container {
		height: auto;
		min-height: 100px;
		overflow-y: auto;
		
		background: #F8F8F8;
		border-radius: 4px;
		padding: 20px;
	}
	div[bstd-type=bstdDropList] .selected {
		background: url("http://content.toyota.ru/i/select-arrow.png") no-repeat scroll 522px center #F3F3F3;
		border: 1px solid #E7E8E9;
		border-radius: 2px;
		cursor: pointer;
		height: 30px;
		line-height: 30px;
		margin: 10px 0;
		padding: 0;
		width: 540px;
	}
			
	div[bstd-type=bstdDropList] .selected span {
		cursor: pointer;
		display: block;
		margin-right: 30px;
		padding: 0 8px;
		border-right: 1px solid #E7E8E9;
		height: 100%;
		overflow: hidden;
	}

	div[bstd-type=bstdDropList] .selected ul{
		display: none;
		padding: 0;
		margin: 0;
		background-color: #FFFFFF;
		border: 1px solid #AAAAAA;
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
	}
	div[bstd-type=bstdDropList] .selected.expand ul{
		background: none repeat scroll 0 0 #fcfcfc;
		display: block;
		margin: -1px;
		position: relative;
		top: 0;
		border: 1px solid #E7E8E9;
		border-top: none;
	}
	label, .label {
		color: #999999;
		display: block;
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 5px;
		margin-top: 20px;
	}
	div[bstd-type=bstdDropList] .selected ul > li {
		line-height: 25px;
		list-style: none outside none;
		padding: 0 8px;
		color: #585858;
	}
	div[bstd-type=bstdDropList] .selected ul > li:hover {
		text-decoration: underline;
		color: #000000;
	}
			
			
			
	#memberDataView {
		width: 900px;
	}

	.f-label {
		font-size: 11px;
		color: #888;
	}
	.f-value {
		padding: 2px 0 14px;
		font-size: 14px;
	}



	.personal-data {
		float: left;
		width: 400px;
	}
	.operation-block {
		float: left;
		width: 400px;
	}



	.user-polling-block {
		border-bottom: 1px solid #DDDDDD;
		border-top: 1px solid #DDDDDD;
		margin: 10px 0px;
	}


	.f-title {
		font-size: 16px;
		font-weight: bold;
		margin: 10px 0 5px;
	}
	.status-block {
		margin: 10px 0;
	}

	div.form-button-box {
		margin-left: 0;
	}

	.f-button, .ui-input-button, input[type="button"] {
	  font-weight: 400;
	  font-size: 13px !important;
	  color: #000;
	  text-decoration: none;
	  padding: 0.4em 1em calc(0.5em + 3px);
	  border: none;
	  display: inline-block;
	  border-radius: 3px;
	  background: #ececec;
	  box-shadow: 0 -3px #bbb inset;
	  transition: 0.2s;
	  cursor: pointer;
	  text-shadow: 0px 1px 1px #fff;
	} 
	.f-button:hover, .ui-input-button:hover, input[type="button"]:hover { background: #ddd; box-shadow: 0 -3px #bbb inset;}
	.f-button:active, .ui-input-button:active, input[type="button"]:active {
	  background: #7AAEE3;
	  box-shadow: 0 -1px #496C90 inset;
	}


	</style>
<div id="searchResultContainer"></div>

<form id="changeStatusForm" style="display:none" autocomplete="off">
	<div>
		<div id="answerId" class="selected" name="answerId" bstd-name="answerId" bstd-type="bstdDropList" bstd-isdrop="1" bstd-form-required="required">
			<span></span>
			<ul style="display: none;"></ul>
		</div>
		<div id="answerId_error" class="form-error" bstd-form-error="answerId"></div>
		<div class="label">Комментарий:</div>
		<textarea id="comment" name="comment"></textarea>
		<div id="comment_error" class="form-error" bstd-form-error="comment"></div>

		<input type="hidden" name="ac" value="v" />
		<input type="hidden" name="a" id="b" value="" />
		<input type="hidden" name="memberId" id="memberId" value="" />
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить' class='ui-input-button' />
		</div>		
		</div>
		<div class='clear'></div>	
	</div>
</form>

<form id="addCommentForm" style="display:none" autocomplete="off">
	<div>
		<div class="label">Добавить коментарий:</div>
		<textarea id="commentText" name="commentText"></textarea>
		<div id="commentText_error" class="form-error" bstd-form-error="commentText" bstd-form-required="required"></div>

		<input type="hidden" name="a" id="a" value="ac" />
		<input type="hidden" name="b" id="b" value="a" />
		<input type="hidden" name="essId" value="1" />
		<input type="hidden" name="objectId" id="objectId" value="" />
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить' class='ui-input-button' />
		</div>		
		</div>
		<div class='clear'></div>	
	</div>
</form>

<form id="memberForm" style="display:none" autocomplete="off">
	<div>
		<div id="statusId" class="selected" name="statusId" bstd-name="statusId" bstd-type="bstdDropList" bstd-isdrop="1" bstd-form-required="required">
			<span></span>
			<ul style="display: none;"></ul>
		</div>
		<div id="answerId_error" class="form-error" bstd-form-error="answerId"></div>
		<div class="label">Комментарий:</div>
		<textarea id="comment" name="comment"></textarea>
		<div id="comment_error" class="form-error" bstd-form-error="comment"></div>

		<input type="hidden" name="ac" value="v" />
		<input type="hidden" name="a" id="b" value="" />
		<input type="hidden" name="memberId" id="memberId" value="" />
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить' class='ui-input-button' />
		</div>		
		<div class='clear'></div>	
	</div>
</form>