<form id="s23a1_usersActionsForm" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/techservice/dealers_actions" bstd_error_type="1">
	<div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Дилер</div>
			<div class='form-input-box'>
				<select name='partnerId' id="partnerId" type='text' value="" maxlength='255' bstd-required="required">
				</select>
				<div bstd-form-error="partnerId" class='error_container bstd_form_error' ></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Название</div>
			<div class='form-input-box'>
				<input name='usersActionName' id="userLogin" type='text' bstd-required="required" value="" maxlength='255' />
				<div bstd-form-error="usersActionName" class='error_container bstd_form_error'></div>
			</div>
			<div class='clear'></div>	
		</div>
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="v" />
		<input type="hidden" name="b" id="b" value="h" />
		<input type="hidden" name="usersActionId" value="" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить изменения' class='ui-input-button' />
		</div>		
		<div class='clear'></div>	
	</div>
</form>