<form id="s23a9_addTOEmails" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/techservice/dealers_actions" bstd_error_type="1">
	<div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Дилер</div>
			<div class='form-input-box'>
				<select name='partnerDivisionId' id="partnerDivisionId" type='text' value="" maxlength='255' bstd-required="required">
				</select>
				<div bstd-form-error="partnerDivisionId" class='error_container bstd_form_error' ></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Адрес</div>
			<div class='form-input-box'>
				<input name='partnerDivisionEmail' id="partnerDivisionEmail" type='text' value="" maxlength='255' bstd-required="required" bstd_valide_type="email" />
				<div bstd-form-error="partnerDivisionEmail" class='error_container bstd_form_error' ></div>
			</div>
			<div class='clear'></div>	
		</div>
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="v" />
		<input type="hidden" name="b" id="b" value="z" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить изменения' class='ui-input-button' />
		</div>		
		<div class='clear'></div>	
	</div>
</form>