<form id="s23a8_dealersActionsForm" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/techservice/dealers_actions" bstd_error_type="1">
	<div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Файл для отсылки пользователю (Допустимые форматы: pdf, jpg и png. Максимальный размер файла 5 Мб)</div>
			<div class='form-input-box'>
				<input  type="file" id="dealersActionFile" bstd-type="bstdOnlyUploader" name="dealersActionFile" bstd-name="dealersActionFile" bstd-type-prams="controller:v,action:r,maxCount:1,path:/admin/techservice/dealers_actions"/>
				<div bstd-form-error="dealersActionFile" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Название акции:</div>
			<div class='form-input-box'>
				<input name='dealersActionName' id="dealersActionName" type='text' bstd-required="required" value="" maxlength='32' />
				<div bstd-form-error="dealersActionName" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Минимальный пробег автомобиля:</div>
			<div class='form-input-box'>
				<input name='dealersActionMileageMin' id="dealersActionMileageMin" type='text' bstd-required="required" value="" maxlength='32' bstd_valide_type="mileage" />
				<div bstd-form-error="dealersActionMileageMin" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Максимальный пробег автомобиля:</div>
			<div class='form-input-box'>
				<input name='dealersActionMileageMax' id="dealersActionMileageMax" type='text' bstd-required="required" value="" maxlength='32' bstd_valide_type="mileage" />
				<div bstd-form-error="dealersActionMileageMax" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Минимальный год выпуска автомобиля:</div>
			<div class='form-input-box'>
				<input name='dealersActionYearMin' id="dealersActionYearMin" type='text' bstd-required="required" value="" maxlength='32' bstd_valide_type="year" />
				<div bstd-form-error="dealersActionYearMin" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Максимальный год выпуска автомобиля:</div>
			<div class='form-input-box'>
				<input name='dealersActionYearMax' id="dealersActionYearMax" type='text' bstd-required="required" value="" maxlength='32' bstd_valide_type="year" />
				<div bstd-form-error="dealersActionYearMax" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Дата начала акции:</div>
			<div class='form-input-box'>
				<input name='dealersActionStart' id="dealersActionStart" type='text' bstd-required="required" bstd-name="dealersActionStart" bstd-type-prams="minDate: _calc:currentData" bstd-type="bstdDatepicker" value="" maxlength='32' />
				<div bstd-form-error="dealersActionStart" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Дата окончания акции:</div>
			<div class='form-input-box'>
				<input name='dealersActionEnd' id="dealersActionEnd" type='text' bstd-required="required" bstd-name="dealersActionEnd" bstd-type-prams="minDate: _calc:currentData" bstd-type="bstdDatepicker" value="" maxlength='32' />
				<div bstd-form-error="dealersActionEnd" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Модели, участвующие в акции:</div>
			<div class='form-input-box'>
				<label for="s23a8_selectAllModel">
					<input id="s23a8_selectAllModel" type="checkbox" data-auto-action="select-all" data-for="dealersActionModels">
					Выбрать все модели
  				</label>
				<select multiselect="multiselect" multiple="multiple" bstd-required="required" id="dealersActionModels" name="dealersActionModels"></select>
				<div bstd-form-error="dealersActionModels" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="v" />
		<input type="hidden" name="b" value="s" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить' class='ui-input-button' />
		</div>		
		<div class='clear'></div>	
	</div>
</form>