<form id="s25a12_FormsSetsForm" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/facilities/forms/" bstd_error_type="1">
	<div>
		<!--div class='form-field-box odd'>
			<div class='form-display-as-box'>Заголовок соглашения о передаче персональных данных</div>
			<div class='form-input-box'>
				<input type="text" name='agreementTitle' id="agreementTitle" />
				<div bstd-form-error="agreementTitle" class='error_container bstd_form_error'></div>
			</div>
			<div class='clear'></div>
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Текст соглашения о передаче персональных данных</div>
			<div class='form-input-box'>
				<textarea name='agreementText' id="agreementText"></textarea>
				<div bstd-form-error="agreementText" class='error_container bstd_form_error'></div>
			</div>
			<div class='clear'></div>
		</div-->
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Идентификатор учетной записи Google Analytics</div>
			<div class='form-input-box'>
				<input type="text" name='gaAccount' id="agreementTitle" bstd-valide-type="gaAccount" />
				<div bstd-form-error="gaAccount" class='error_container bstd_form_error'></div>
			</div>
			<div class='clear'></div>
		</div>
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="ai" />
		<input type="hidden" name="b" id="b" value="c" />
		<input type="hidden" name="facilityId" value="" />
		<input type="hidden" name="formType" value="" />
		<input type="hidden" name="partnerDivisionId" value="" />
		<!-- End of hidden inputs -->
		<div class='line-1px'></div>
	</div>
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить изменения' class='ui-input-button' />
		</div>
		<div class='clear'></div>
	</div>
</form>