<form id="s1a1_usersFormEdit" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/scheduler/">
	<div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Модель</div>
			<div class='form-input-box'>
				<select bstd-required="required" name='modelId'></select>
				<div bstd-form-error="modelId" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Пользователь</div>
			<div class='form-input-box'>
				<select bstd-required="required" name='userId'></select>
				<div bstd-form-error="userId" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Дата</div>
			<div class='form-input-box'>
				<input name='date' type='text' value="" bstd-required="required" maxlength='10' bstd-valide-type="name" />
				<div bstd-form-error="date" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Время</div>
			<div class='form-input-box'>
				<select bstd-required="required" name='recordId'></select>
				<div bstd-form-error="recordId" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Имя</div>
			<div class='form-input-box'>
				<input name='firstName' type='text' value="" bstd-required="required" maxlength='255' bstd-valide-type="fio" />
				<div bstd-form-error="firstName" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Телефон</div>
			<div class='form-input-box'>
				<input name='phone' type='text' value="" bstd-required="required" maxlength='20' bstd-valide-type="phone" />
				<div bstd-form-error="phone" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Комментарий</div>
			<div class='form-input-box'>
				<textarea name='comment'></textarea>
				<div bstd-form-error="comment" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="ak" />
		<input type="hidden" name="b" value="c" />
		<input type="hidden" name="oldRecordId" value="" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить изменения' class='ui-input-button' />
		</div>		
		<div class='clear'></div>	
	</div>
</form>