<form id="s4a1_childrenPartnersEdit" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/partners/" bstd_error_type="1">
	<div>
		<div class='form-field-box odd'>
			<div class='form-field-box odd'>
				<div class='form-display-as-box'>Подчиненные дилерские центры</div>
				<div class='form-input-box'>
					<select multiselect="multiselect" multiple="multiple" name='childrenPartners'>
					</select>
					<div bstd-form-error="childrenPartners" class="error_container bstd-form-error error"></div>
				</div>
				<div class='clear'></div>	
			</div>
		</div>
		
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="c" />
		<input type="hidden" name="b" value="r" />
		<input type="hidden" name="partnerDivisionId" value="" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить изменения' class='ui-input-button' />
		</div>		
		<div class='clear'></div>	
	</div>
</form>