<form id="s4a1e_partnersEdit" autocomplete="off" method="post" enctype="multipart/form-data" action="/admin/partners/" bstd_error_type="1">
	<div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Наименование</div>
			<div class='form-input-box'>
				<input name='partnerDivisionName' type='text' value="" bstd-form-required="required" maxlength='255' />
				<div bstd-form-error="partnerDivisionName" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Тип партнера</div>
			<div class='form-input-box'>
				<select bstd-form-required="required" name='partnerTypeId'>
				</select>
				<div bstd-form-error="partnerTypeId" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Непосредственное головное подразделение</div>
			<div class='form-input-box'>
				<select bstd-form-required="required" name='partnerId'>
				</select>
				<div bstd-form-error="partnerId" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Адрес</div>
			<div class='form-input-box'>
				<input name='partnerDivisionAddress' type='text' value="" maxlength='255' />
				<div bstd-form-error="partnerDivisionAddress" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Широта</div>
			<div class='form-input-box'>
				<input name='gLn' type='text' bstd-form-required="required" value="" maxlength='255' />
				<div bstd-form-error="gLn" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Долгота</div>
			<div class='form-input-box'>
				<input name='gLg' type='text' bstd-form-required="required" value="" maxlength='32' />
				<div bstd-form-error="gLg" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>Телефон</div>
			<div class='form-input-box'>
				<input name='partnerDivisionPhone' type='text' bstd-form-required="required" value="" bstd-validate-type="phoneToyotaDealer" />
				<div>вводится в формате: <b>группа телефонов</b><br />
				Где <b>группа телефонов</b> имеет формат: <b>префикс группа ссылок с телефоном</b><br />
				<b>префикс</b> может принимать значения: "Тел.", "Факс", "Тел./факс". Групп телефонов может быть не более трех.
				<b>группа ссылок с телефоном</b> состоит из <b>ссылок с телефоном</b>, разделенных запятой и пробелом после нее. В группе может быть не более трех ссылок
				<b>ссылка с телефоном</b>  имеет вид: &lt;a href=&quot;tel:+7<b>десять символов номера телефона без разделителей</b>&quot; style=&quot;text-decoration:none; color:black;&quot;&gt;<b>номер телефона в человекочитаемом виде</b>&lt;/a&gt;<br />
				<b>Тел.: &lt;a href=&quot;tel:+74957213388&quot; style=&quot;text-decoration:none; color:black;&quot;&gt;(495) 721-33-88&lt;/a&gt;</b><br />
				<b>номер телефона в человекочитаемом виде</b> имеет вид: <b>код страны</b> (<b>код города</b>) <b>телефон</b>,<br />
				где <b>код страны</b> может принимать значения: <b>+7</b> или <b>8</b>,<br />
				<b>код города</b> заключен в круглые скобки и состоит из 3-7 символов без разделителей, отделяется от кода страны и телефона пробелом,<br />
				<b>телефон</b> состоит из цифр и дефиса и может быть представлен следующими форматами (d обозначает цифру): ddd-dd-dd, dd-dd-dd, d-dd-dd, dd-dd и d-dd<br /></div>
				<div bstd-form-error="partnerDivisionPhone" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Сайт</div>
			<div class='form-input-box'>
				<input name='partnerDivisionSite' type='text' bstd-required="required" value="" maxlength='255' />
				<div bstd-form-error="partnerDivisionSite" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box even'>
			<div class='form-display-as-box'>Изображение карты</div>
			<div class='form-input-box'>
				<input name='mapImage' type='file' value="" bstd-type="bstdOnlyUploader" bstd-type-prams="controller:c,action:q,path:/admin/partners/" />
				<div bstd-form-error="mapImage" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		<div class='form-field-box odd'>
			<div class='form-display-as-box'>R-код</div>
			<div class='form-input-box'>
				<input name='partnerDivisionRCode' type='text' bstd-form-required="required" value="" maxlength='32' />
				<div bstd-form-error="partnerDivisionRCode" class="error_container bstd-form-error error"></div>
			</div>
			<div class='clear'></div>	
		</div>
		
		<div class='form-field-box odd'>
			<div class='form-field-box odd'>
				<div class='form-display-as-box'>Подчиненные дилерские центры</div>
				<div class='form-input-box'>
					<select multiselect="multiselect" multiple="multiple" name='childrenPartners'>
					</select>
					<div bstd-form-error="childrenPartners" class="error_container bstd-form-error error"></div>
				</div>
				<div class='clear'></div>	
			</div>
		</div>
		
		<!-- Start of hidden inputs -->
		<input type="hidden" name="a" value="c" />
		<input type="hidden" name="b" value="b" />
		<input type="hidden" name="partnerDivisionId" value="" />
		<!-- End of hidden inputs -->		
		<div class='line-1px'></div>
	</div>	
	<div class='buttons-box'>
		<div class='form-button-box'>
			<input type='submit' value='Сохранить изменения' class='ui-input-button' />
		</div>		
	</div>
	<div class='clear'></div>	
</form>