TEMPLATER_INFO::START

	TEMPLATER=Templater2

	DEBUG_MODE=1

	//INSTRUCTION_BLOCK_SEPARATOR=
	INSTRUCTION_BLOCK_SEPARATOR_START=<!--#
	INSTRUCTION_BLOCK_SEPARATOR_END=#-->
	PROPERTY_SEPARATOR=:
	VARIABLE_BLOCK_SEPARATOR_START={%
	VARIABLE_BLOCK_SEPARATOR_END=%}

	//VARIABLE_BLOCK_SEPARATOR
	VARIABLE_SEPARATOR=:

	INSTRUCTION_SEPARATOR_START=<!--@
	INSTRUCTION_SEPARATOR_END=@-->
	//INSTRUCTION_SEPARATOR
	BLOCK_NAME_SEPARATOR=::

TEMPLATER_INFO::END<!DOCTYPE html><html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Официальные дилеры Lexus</title>
		<link href="http://content.lexus-russia.ru/css/style_lexus1.css?v=2" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="http://content.toyota.ru/js/jq/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdSystem3.js"></script>
		<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdTips.js"></script>
		<script type="text/javascript" src="http://content.lexus-russia.ru/js/bstd/findDealers.js?v=1"></script>
		<script>
			$(document).ready(function() {
				$("td[data-type=city]").each(function() {
					var _ele = $(this);
					if(!$('td[data-city-id=' + _ele.attr('data-city-id') + '][data-dealer-id]').length) {
						_ele.parent().hide();
					}
				});
			});
		</script>
	</head>
	<body class="body" bstd_tips_set="1">
	<div id="resizer">
		<table id="dealersTable" class="specifications" cellspacing="0" cellpadding="3" border="0" align="center">
			<thead>
				<tr>
					<td colspan="2" >
						<div style="float:right; padding-right:15px">
							<select id="city" name="city" style="float:left">
								<option value="0">Все города</option>
								<!--#A1:type=SelectOption:dataKey=cities#-->
								<option value="{%cityId%}">{%cityName%}</option>
								<!--#A1#-->
							</select>
						</div>
					</td>
				</tr>
			</thead>
			<tbody>
				<!--# A3:type=Item:dataKey=cities#-->
				<tr>
					<td colspan="2" valign="top" style="border-top: 1px solid #cacdd2;border-bottom: 1px solid #cacdd2;" data-city-id="{%cityId%}" data-type="city"><p>{%cityName%}:</p></td>
				</tr>

				<!--# A5:
					type=Item:
					dataKey=dealers:
					addCollection=cities:
					group=cityId:
					collectionKey=dealers:
					count=2#-->

				<!--!# A6:type=Item:dataKey=dealers:count=2#-->
				<tr>
					<!--@A5::1:ITEM@-->
					<td valign="top" style="width:50%" data-dealer-id="{%partnerId%}" data-city-id="{%cityId%}" data-region-id="{%regionId%}">
						<p class="dealerName"><strong>{%partnerName%}</strong><br />
						{%partnerAddress%}<br />
						<a href="javascript:void(0);" data-map="{%partnerMap%}">Карта проезда</a><br />
						{%partnerPhone%}<br />
						<!--# A7:
								type=Item:
								dataKey=facilities:
								addCollection=dealers:
								group=[.facilityId=dealersFacilities.*.facilityId,dealersFacilities.partnerId=dealers.partnerId]:
								collectionKey=facilities#-->


						<!--@A7::1:IF(.facilityAsFilter='1' && .facilityAdvInfo)@-->
						<a class="facilityLink" target="_blank" href="{%facilityAdvInfo%}">
							<img class="facilityDealerImage" tips="{%facilityName%}" title="{%facilityName%}" data-facility-id="{%facilityId%}" src="{%facilityIcon%}">{%facilityName%}
						</a><br />

						<!--@A7::1@-->
						<!--@A7::2:IF(.facilityAsFilter='1' && !.facilityAdvInfo)@-->
						<img class="facilityDealerImage" tips="{%facilityName%}" title="{%facilityName%}" data-facility-id="{%facilityId%}" src="{%facilityIcon%}">{%facilityName%}<br />
						<!--@A7::2@-->
						<!--# A7#-->
						{%facilities%}
						<a data-statistic-ga="track_event" data-statistic-type="dealer_click" data-dealer-id="{%partnerId%}" data-dealer-rcode="{%partnerRCode%}" class="dealer_link" target="_blank" href="http://{%partnerSite%}">{%partnerSite%}</a>
					</td>
					<!--@A5::1@-->
				</tr>
				<!--!# A6#-->
				<!--# A5#-->
				{%dealers%}
				<!--# A3#-->
			</tbody>
		</table>
	</body>
</html>