<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Refresh" Content="1; URL=http://contacts.toyota.ru/z/auth?i=%{%currentPage%}%">
<title>Insert title here</title>
</head>
<body>
<img src="http://contacts.toyota.ru/z/ach?i=%{%sessionId%}%" width="1" height="1" />
</body>
</html>