@media (max-width: 767px){
    div.wrap {
        width: 100%; min-width: 320px;overflow: hidden;
    }
    img.close-city-popup{top: 140px; right: 8%}
    div#cityId ul.items-container, div#modelId ul.items-container{width: 96%;}
    div#cityId ul.items-container li{width: 100%; border: none}
    /* div#cityId ul.items-container{ margin-top: 130px; height: 400px;  overflow: auto;} */
	.items-container{max-height: 400px;  overflow: auto;}
    div.content-wrap h1{font-size: 28px}
    .content-wrap{font-size: 14px;}
    div.input input{height: 50px;}
    div.list-tablo, div.select-top{height: 50px; background: url("http://content.toyota.ru/img/select-arrow.png") no-repeat 97% 19px;}
    div.list-tablo.disabled, div.select-top.disabled{background:#f7f7f7 url("http://content.toyota.ru/img/select-arrow.png") no-repeat 97% 19px; cursor: default;}
    ul.select-list{width: 96%}
    div#partnerId ul.items-container.more, ul.select-list.more{width: 91%;}
    img.close-model{position: absolute;margin: 35px 0 0 0; right: 9%;}
    img.close-dealers{position: absolute;margin: 42px 0 0 0; right: 9%;}
    .col-xs-12{margin-top: 0px;}
	
	/*new style for borunov*/
	.items-container{
		width: 96%;
	}
	
	.items-container li {
		width: 45%!important;
		margin-left: 3%!important;
		padding: 13px 0!important;
	}
	
	ul.select-list li{
		width:97%!important;
	}
	
	div.content-wrap {
		padding-top: 10px;
	}
	
	div.textarea {
		margin-top:21px;
	}
	
	.file {
		height: 63px;
	}
	
	.bstdPopup {
		width:98%;
		margin-left:0!important;
		left:1%!important;
	}
	
	.bstdPopup .title {
		font-size: 18px;
	}
	
	.bstdPopup .content {
		font-size: 14px;
		padding: 15px 0 65px;
	}
	
	.overall-error-trade{
		width: 100%;
		margin: 15px 0 0 0;
	}
	
	.error-popup{
		width:91%;
	}
	
	.error-popup .error_container_title {
		width:40%;
		font-size: 12px;
		margin:0;
	}
	.error-popup .error_container {
		width: 60%;
		margin: 0;
		padding: 0 2px;
	}
	
	div.textarea textarea{
		height:175px;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
    div.wrap {
        width: 750px;
    }
    img.close-city-popup{right: -91%; top: -286px;}
   /*  div#cityId ul.items-container, div#modelId ul.items-container{width: 191%;} */
    div#cityId ul.items-container li{width: 50%}
    div#cityId ul.items-container li:nth-child(2n+2){border: none}
   /*  div#cityId ul.items-container{margin-top: -298px;} */
    div.content-wrap h1{font-size: 28px}
    .content-wrap{font-size: 14px;}
    div.input input{height: 50px;}
    div.list-tablo, div.select-top{height: 50px; background: url("http://content.toyota.ru/img/select-arrow.png") no-repeat 95% 19px;}
    div.list-tablo.disabled, div.select-top.disabled{background:#f7f7f7 url("http://content.toyota.ru/img/select-arrow.png") no-repeat 95% 19px; cursor: default;}
    ul.select-list{width: 96%}
    div#partnerId ul.items-container.more, ul.select-list.more{width: 191%;}
    img.close-model{position: absolute;margin-top: 33px;right: -91%}
    img.close-dealers{position: absolute;margin-top: 42px;right: -91%}
    .col-lg-6, .col-md-6, .col-sm-6{/* margin-top: 30px; */margin-top:0;}
	
	/*new style for borunov*/
	.items-container{
		width: 204%;
	}
	
	input#phone {
		width: 195px;
		left:133px;
	}
	
	.phone-code {
		width: 120px;
	}
	
	.select-list {
		top:9px;
	}
	
	/* .select-list-top {
		top: 29px;
	} */
	
	.overall-error-trade{
		width: 100%;
		margin: 15px 0 0 0;
	}
	
	.error-popup{
		width:94%;
	}
	
	.bstdPopup {
		width:80%;
		margin-left:0!important;
		left:10%!important;
	}
	
}

@media screen and (min-width:992px) and (max-width:1199px) {
    div.wrap {
        width: 970px;
    }
    img.close-city-popup{right: -91%; top: -315px;}
    /* div#cityId ul.items-container, div#modelId ul.items-container{width: 191%;} */
    div#cityId ul.items-container li{width: 33%}
    div#cityId ul.items-container li:nth-child(3n+3){border: none}
    /* div#cityId ul.items-container{margin-top: -328px;} */
    div.content-wrap h1{font-size: 36px}
    .content-wrap{font-size: 14px;}
    div.input input{height: 60px;}
    div.list-tablo, div.select-top{height: 60px; background: url("http://content.toyota.ru/img/select-arrow.png") no-repeat 95% 23px;}
    div.list-tablo.disabled, div.select-top.disabled{background:#f7f7f7 url("http://content.toyota.ru/img/select-arrow.png") no-repeat 95% 23px; cursor: default;}
    ul.select-list{width: 96%}
    div#partnerId ul.items-container.more, ul.select-list.more{width: 191%;}
    img.close-model{position: absolute;margin-top: 42px;right: -91%}
    img.close-dealers{position: absolute;margin-top: 42px;right: -91%}
    .col-lg-6, .col-md-6, .col-sm-6{/* margin-top: 30px; */margin-top:0;}
	
	/*new style for borunov*/
	.items-container {
		width: 202%;
	}
	
	input#phone {
		width:281px;
		left: 151px;
	}
	
	.phone-code {
		width: 138px;
	}
	
	.select-list {
		top:9px;
	}
	
	/* .select-list-top {
		top: 29px;
	} */
	
	.overall-error-trade{
		width: 240px;
		margin-top: 34px;
	}
	
	.error-popup{
		width:95%;
	}
	
	
	
}

@media (min-width: 1200px){
    div.wrap {
        width: 1170px;
    }
    img.close-city-popup{left: 0; margin-left: 183%;}
    /* div#cityId ul.items-container, div#modelId ul.items-container{width: 191%;} */
    div#cityId ul.items-container li{width: 25%}
    div#cityId ul.items-container li:nth-child(4n+4){border: none}
    /* div#cityId ul.items-container{margin-top: -336px;} */
    div.content-wrap h1{font-size: 40px}
    .content-wrap{font-size: 16px;}
    div.input input{height: 60px;}
    div.list-tablo, div.select-top{height: 60px; background: url("http://content.toyota.ru/img/select-arrow.png") no-repeat 95% 23px;}
	.phone-code div.select-top {
		background: url("http://content.toyota.ru/img/select-arrow.png") no-repeat 85% 23px;
	}
    div.list-tablo.disabled, div.select-top.disabled{background:#f7f7f7 url("http://content.toyota.ru/img/select-arrow.png") no-repeat 95% 23px; cursor: default;}
    /* ul.select-list{width: 90%} */
    div#partnerId ul.items-container.more, ul.select-list.more{width: 191%;}
    img.close-model{position: absolute;margin-top: 42px;right: -91%}
    img.close-dealers{position: absolute;margin-top: 42px;right: -91%}
    /* .col-lg-6, .col-md-6, .col-sm-6{margin-top: 9px} */
	
	/*new style for borunov*/
	.col-lg-6, .col-md-6, .col-sm-6{/* margin-top: 21px; */ margin-top:0;}
	
	div#cityId ul.items-container, div#modelId ul.items-container{width: 201%;}
	
	.items-container{
		width:201%;
	}

	ul.select-list{width:96%; max-height: 264px;}
	
	input#phone {
		width: 376px;
		left: 151px;
	}
	
	.phone-code {
		width: 138px;
	}
}


	input#phone {
		display: inline-block;
		position: absolute;
		/* top: 10px; */
	}
	.phone-code {
		margin: 0px 0 0 0px;
		position: absolute;
	}