@charset "utf-8";

html, body{/*height: 100%;*/}

div.wrap{position: relative; margin: 0 auto; padding-bottom: 30px;}

#lexus div.wrap{width: 1680px;}

div.logo-lexus-wrap{width: 1235px; position: relative; margin: 0 auto;}

div.toyota-header{height: 66px; background: url("http://content.toyota.ru/img/toyota-header.jpg") no-repeat; width: 100%;}
div.lexus-header{height: 60px; background: url("http://content.toyota.ru/img/lexus-header.png") repeat-x; width: 100%;}
div.toyota-header img{position: absolute; right: 10px;}
div.lexus-header img{position: absolute; right: 0; top: 15px;}

div.content-wrap{padding-top: 69px; position: relative;}

#lexus div.content-wrap{width: 1260px; padding-top: 57px;}

/*div.content-wrap-test-drive{z-index: 1; margin-top: 0; padding-top: 69px; height: 560px;}*/

div.content-wrap-test-drive.city-show{height: 950px;}

div.content-wrap h1{font-family: 'ToyotaDisplay-Bold', sans-serif; color: #363636; text-transform: uppercase; margin: 0; margin-left: 16px;}

#lexus div.content-wrap h1{font-family: Arial; font-weight: bold;}

div.keyboard-wrap{background: #ffffff; width: 1228px; height: 366px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    padding: 41px 0 0 40px;
    margin: 0 0 0 27px;
    top: 560px;
    z-index: 0;
}

#lexus div.keyboard-wrap{margin-left: 228px;}

div.keyboard-wrap ul{margin: 0; padding: 0;}
div.keyboard-wrap li{background: #f0f0f0; list-style: none; float: left; width: 83px; height: 65px; border: #d7d7d7 1px solid; margin: 5px 0 0 5px;  font-size: 14px; font-family:Arial, sans-serif; color: #363636;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 31px 0 0 56px;
    cursor: pointer;
}

div.time-select{position: absolute; background: #ffffff; width: 358px; padding-right: 6px; display: none; z-index: 100;}
div.time-select ul{padding: 0; margin: 0;}
div.time-select li{background: #f0f0f0; list-style: none; float: left; width: 83px; height: 65px; border: #d7d7d7 1px solid; margin: 5px 0 0 5px;  font-size: 14px; font-family:Arial, sans-serif; color: #363636;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 31px 0 0 56px;
    cursor: pointer;}

div.keyboard-wrap li.empty{background: none; border: none;}
div.keyboard-wrap li.change-number{padding-left: 40px;}
div.keyboard-wrap li.caps-lock{padding: 25px 0 0 47px;}
div.keyboard-wrap li.delete{padding: 32px 0 0 50px;}
div.keyboard-wrap li.space{width: 699px;}
div.keyboard-wrap li.lang{padding-left: 43px;}

.content-wrap{list-style: none; font-family:'ToyotaDisplayRegular', sans-serif; color: #363636;}

ul.slider li span.red, ul.slider li b.red{color: #9c0202; font-weight: 100;}
li.slide{float: left; width: 1136px;}

#lexus ul.slider li span.red{color: #4589ce;}

#lexus li.slide{width: 1260px;}

div.list-tablo, div.select-top{
	border: #d7d7d7 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 9px 0 0 1px;
    width: 95%;
    padding: 17px 55px 0 20px;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

#lexus div.select-top{width: 375px;background: url("http://content.toyota.ru/img/select-arrow.png") no-repeat 325px 23px; font-family: Arial;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

div.col-left{float: left;margin: 10px 0 0 15px; width: 357px;}
div.col-center{float: left;margin: 11px 0 0 18px; width: 357px;}

#lexus div.col-center{margin: 11px 0 0 52px;}

div.col-right{float: left;margin: 11px 0 0 18px;  width: 357px;}

#lexus div.col-right{margin: 11px 0 0 50px;}

/* ul.select-list{background: #ffffff; padding-left: 0; position: absolute; display: none; height: 173px; overflow: auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    margin: -60px 0 0 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-top: 15px;
    z-index: 100;
} */

/* div#partnerId ul.items-container{background: #ffffff; padding-left: 0; position: absolute;width: 91%; display: none; height: 173px; overflow: auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    margin: -60px 0 0 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-top: 15px;
    z-index: 100;
} */

#lexus ul.select-list{width: 377px;}

#lexus div.col-left, #lexus div.col-center, #lexus div.col-right{width: 377px;}

div#partnerId ul.items-container li, ul.select-list li{display: block;border-bottom: #f0f0f0 1px solid;padding: 12px 30px; color: #363636 !important; font-size: 16px !important; font-family: 'ToyotaDisplayRegular',sans-serif !important;
    margin: 0 0;
}

#lexus ul.select-list li{font-family: Arial;}

div#partnerId ul.items-container li:last-child, ul.select-list li:last-child{border: none}
div#partnerId ul.items-container li:hover, ul.select-list li:hover{background: #f0f0f0; cursor: pointer;}

/* div.select-second{margin-top: 21px; clear: both; float: left; width: 100%;} */

div.input input{display: block; background: #fff;border: #d7d7d7 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 9px 0 0 1px;
    width: 95%;
    padding: 0 20px;
}

#lexus div.input input{width: 375px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

div.input-second, div.textarea-second{margin-top: 21px;}

div.slider-prev{background: url("http://content.toyota.ru/img/arrow-slider.png") no-repeat; width: 60px; height: 60px; position: absolute;margin: 400px 0 0 0;left: 0; z-index: 1; cursor: pointer}
div.slider-next{background: url("http://content.toyota.ru/img/arrow-slider.png") no-repeat -60px 0; width: 60px; height: 60px; position: absolute; margin-top: 400px; right: 0; z-index: 1; cursor: pointer}

#lexus div.slider-prev, #lexus div.slider-next{background: url("http://content.toyota.ru/img/arrow-slider-lexus.png") no-repeat;}
#lexus div.slider-next{background-position: -60px 0;}

div.input-second-half{float: left;}
div.input-second-half input{width: 171px;}

#lexus div.input-second-half input{width: 181px;}

div.textarea textarea{
	display: block;
	background: #fff;
	border: #d7d7d7 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 9px 0 0 1px;
	height: 285px;
	width: 95%;
	padding: 20px;
	resize:none;
}

#lexus div.textarea textarea{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

div.form-info{color: #959595; font-size: 14px; font-family: 'ToyotaDisplayRegular', sans-serif; margin-top: 27px; clear: both}
div.form-info span.red{display: inline;}
div.form-info span{display: block; margin-top: 8px;}
div.form-info span.dealers-agreement{text-decoration:underline; cursor:pointer;}
div.form-info span.dealers-agreement:hover{text-decoration:none;}

input.send-button{width: 180px; height: 60px; font-family: 'ToyotaDisplay-Bold', sans-serif; font-size: 17px; color: #ffffff; background: #c00407; border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    margin-top: 160px;
}

#lexus input.send-button{background: #4589ce;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.active-field{border: 1px solid #c00407 !important;}

#lexus .active-field{border: 1px solid #4589ce !important;}

li.slide input, li.slide textarea{outline: none;}

div.keyboard-wrap li.empty{cursor: default;}

div.keyboard-wrap li {
    background:#f0f0f0;
}
div.keyboard-wrap li:active {background:#c00407}
div.keyboard-wrap li.empty:hover{background: none !important;}


#lexus div.keyboard-wrap li:active {background:#4589ce}

div.time-select li {
    background:#f0f0f0;
}
div.time-select li:active {background:#c00407}

#lexus div.time-select li:active {background:#4589ce}

div.keyboard-wrap li.letter.uppercase{text-transform: uppercase; font-weight: bold;}

ul.keyboard-en, ul.keyboard-number{display: none}

.big_select{width: 1106px;margin: -92px 0 0 0;}
div.select-city{width: 1106px;margin:0; background: #ffffff; position: absolute;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 50px 0;
    z-index: 10;
    left: 0;
    margin: -45px 0 0 88px;
    display: none;
}

#lexus div.select-city{width: 1305px; margin: 115px 0 0 190px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

div.select-city ul{padding: 0; margin: 0; float: left; border-right: 1px solid #f3f3f3; padding: 0 70px;}

#lexus div.select-city ul{padding: 0 95px;}

div.select-city ul:last-child{border: none}
div.select-city ul li{ color: #6a6a6a; font-family: Arial; font-size: 16px; cursor: pointer; height: 45px; list-style: none;}
div.select-city ul li:hover{text-decoration: underline}

img.close-big-popup{position: absolute; cursor: pointer;margin: -25px 0 0 1033px;}

#lexus img.close-big-popup{margin: -25px 0 0 1230px;}

.error_container, .form-error{font-size: 12px; color:#c00407; position: absolute;
    background: #fff;
    padding: 2px;
    width: 360px;
}
#lexus .error_container, #lexus .form-error{color:#4589ce; margin-left: 3px;}
.overall-error{display: none; margin: 110px 0 0 0;}

.overall-error-trade{/* position: absolute;margin: 217px 0 0 370px; */min-height: 60px; width: 340px; float:left; margin: 42px 0 0 30px; font-size: 12px; color: #c00407;}

div.model-list-wrap{background: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 380px 0 0 87px;
    width: 1105px;
    z-index: 100;
    position: absolute;
    padding-bottom: 30px;
    display: none;
}

#lexus div.model-list-wrap{
    margin: 143px 0 0 226px;
    width: 1198px;
}

/* div#cityId ul.items-container, div#modelId ul.items-container{
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 100;
    position: absolute;
    padding: 25px 0;
    margin: -60px 0 30px 0;
} */

img.close-city-popup{position: absolute; cursor: pointer; display: none;
    z-index: 101;
    top: -323px;}

div#cityId ul.items-container{padding: 30px 30px 30px 30px; background:#ffffff; top: 29px; margin-bottom: 30px;}

div#cityId ul.items-container li,div#modelId ul.items-container li{
    float: left; list-style: none;
    border-bottom: #f0f0f0 1px solid; color: #363636; font-size: 16px; font-family: 'ToyotaDisplayRegular',sans-serif;
    margin-left: 30px;
    width: 240px;
    padding: 13px 0;
    cursor: pointer;
    margin-bottom: 15px;
}

div#cityId ul.items-container li{}

div#cityId ul.items-container li{border: none;
    color: #6a6a6a;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    height: 45px;
    padding: 11px 0 0 30px;
    margin-bottom: 0;
    border-right: 1px solid #f3f3f3;
    margin-left: 0;
    min-width: 200px;
}

div#cityId ul.items-container li:hover{background: #f0f0f0;}

div#cityId ul.items-container li:hover{text-decoration: underline;}

div#modelId ul.items-container li:hover{background: #f0f0f0;}

#lexus div.model-list-wrap ul.model-list li{width: 262px;}

div.model-list-wrap ul.model-list{padding: 0; margin: 25px 0px;}

div.model-list-wrap ul.model-list li{
    float: left; list-style: none;
    border-bottom: #f0f0f0 1px solid; color: #363636; font-size: 16px; font-family: 'ToyotaDisplayRegular',sans-serif;
    margin-left: 30px;
    width: 240px;
    padding: 13px 0;
    cursor: pointer;
}

div.model-list-wrap ul.model-list li:hover{background: #f0f0f0;}

div.keyboard-wrap li.clear{padding: 13px 0 0 0; text-align: center;}

.hidden-input{visibility: hidden; position: absolute; z-index: -1;}

div.checkbox{width: 145px; height: 60px; float: left; background: url("http://content.toyota.ru/img/check-box.png") no-repeat 0 -60px; padding: 18px 0 0 80px; margin-top: 9px !important; margin-bottom: 0 !important; cursor: pointer;}
div.checkbox.checked{background-position: 0 0;}

div.checkbox-lexus{background: url("http://content.toyota.ru/img/check-box-lexus.png") no-repeat 0 -60px;}
div.checkbox-lexus:first-child{width: 225px;}

input.send-button-test-drive{clear: both; margin-top: 54px; float: left}

#lexus input.send-button-test-drive{margin-top: 30px;}

div.form-info-test-drive{float: left;
    width: 325px;
    clear: none;
    margin: 48px 0 0 30px;}

#lexus div.form-info-test-drive{float: left;
    width: 325px;
    clear: none;
    margin: 30px 0 0 0px;}

div.model-list-wrap-test-drive{margin-top: 154px;}

div.overall-error-test-drive{margin-top: 190px;}

#lexus div.overall-error-test-drive{margin: 275px 0 0 200px;}

div.keyboard-wrap.keyboard-wrap-test-drive{position: absolute; top: 560px;}

body.lexus-test-drive div.keyboard-wrap{display: none}

div.model-list-trade-wrap{margin-top: 155px;}

div.manufacturers-wrap{
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 30px 0 0 87px;
    width: 1105px;
    z-index: 100;
    position: absolute;
    padding-bottom: 30px;
    display: none;
    overflow: hidden;
}

div.manufacturers-wrap ul.manufacturers-list{padding: 0; margin: 25px 0px;}

div.manufacturers-wrap ul.manufacturers-list li{
    float: left; list-style: none;
    border-bottom: #f0f0f0 1px solid; color: #363636; font-size: 16px; font-family: 'ToyotaDisplayRegular',sans-serif;
    margin-left: 30px;
    width: 222px;
    padding: 13px 0;
    cursor: pointer;
}

div.manufacturers-wrap ul.manufacturers-list li.manufacturers-slide{
    margin: 0;
    padding: 0;
    width: 1060px;
    cursor: default;
    border: none;
}

#lexus div.manufacturers-wrap ul.manufacturers-list li.manufacturers-slide{
    margin: 0;
    padding: 0;
    width: 1305px;
    cursor: default;
    border: none;
}

div.manufacturers-wrap ul.manufacturers-list li.li-hover:hover{background: #f0f0f0;}

div.car-wrap{
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 380px 0 0 87px;
    width: 1105px;
    z-index: 100;
    position: absolute;
    padding-bottom: 30px;
    display: none;
    overflow: hidden;
}

div.car-wrap ul.car-list{padding: 0; margin: 25px 0px;}

div.car-wrap ul.car-list li{
    float: left; list-style: none;
    border-bottom: #f0f0f0 1px solid; color: #363636; font-size: 16px; font-family: 'ToyotaDisplayRegular',sans-serif;
    margin-left: 30px;
    width: 222px;
    padding: 13px 0;
    cursor: pointer;
}

div.car-wrap ul.car-list li.li-hover:hover{background: #f0f0f0;}

div.wrap.trade-wrap{height: 1850px;}

/* div.form-info-trade{position: absolute; width: 340px;margin: 150px 0 0 371px;} */
input.send-button-trade{margin-top:30px;float:left;}


#lexus div.manufacturers-wrap{margin: 30px 0px 0px 190px;width: 1305px; padding-left: 100px;}
#lexus ul.manufacturers-list li{margin-left: 35px;width: 220px;}
#lexus div.car-wrap{width: 1305px; margin: 374px 0 0 228px;width: 1235px; padding-left: 100px;}
#lexus ul.car-list li{margin-left: 35px;width: 220px;}
#lexus div.wrap.trade-wrap{height: 1650px;}

#lexus input.send-button-trade {
    position: absolute;
    margin: 260px 0 0 55px;
}

#lexus div.form-info-trade{margin-left: 430px;}

#lexus .overall-error-trade {
    position: absolute;
    margin: 220px 0 0 430px; color: #4589ce;}

div#lexusLogo{width: 1000px; height: 430px; position: absolute; text-align: center; font-family: Arial; font-size: 22px; border: #cccccc 1px solid;
    margin: 0 0 0 347px;
    padding-top: 35px;
    top: 590px;
}
div#lexusLogo h3{font-size: 30px; letter-spacing: 1px; margin-bottom: 22px;}
div#lexusLogo p{line-height: 27px;}

div#toyotaLogo{width: 900px; height: 430px; position: absolute; text-align: center; font-family: 'ToyotaDisplayRegular', sans-serif;  color: #363636; font-size: 16px; border: #cccccc 1px solid;
    margin: 0 0 0 194px;
    padding-top: 35px;
    top: 575px;
}
div#toyotaLogo h3{font-size: 24px; letter-spacing: 1px; margin-bottom: 22px; font-family: 'ToyotaDisplay-Bold', sans-serif;}
div#toyotaLogo p{line-height: 27px;}

div#modelsList{margin: 60px 0 0 50px;}
div#modelsList div.model{float: left; width: 400px; height: 250px;font-family: Arial; color: #363636;}
div#modelsList div.model div.name{font-size: 40px; margin: -8px 0 0 272px; position: absolute;}

div#modelsList div.image{float: left}
div#modelsList div.submodels{position: absolute;margin: 54px 0 0 261px;}

div#modelsList div.submodelItem input{visibility: hidden;}
div#modelsList div.submodelItem label{cursor: pointer; color: #252525; font-size: 17px; font-weight: 100; border-bottom: 1px solid #ebebeb; height: 27px; width: 67px;}
div#modelsList div.submodelItem label.active{color: #0073b9}
div.submodels>div.submodelItem:last-child label{border-bottom: none !important;}

p.exp{font-family: Arial; font-size: 17px; color: #363636; letter-spacing: 1px;margin: 11px 0 0 18px;}

div.success_popup, div.dealers-agreement_popup{
    width: 800px;
    height: 300px;
    margin: 0;
    background: #ffffff;
    position: absolute;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 1001;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -400px;
    font-family: 'ToyotaDisplay-Bold', sans-serif;
    font-size: 22px;
    text-align: center;
    color: #363636;
    padding-top: 133px;
    display: none;
}

#lexus div.success_popup{font-family: Arial, sans-serif;}

img.close-success-popup, img.close-dealers-agreement_popup{position: absolute;margin: -118px 0 0 688px; cursor: pointer;}

div#partnerId ul.items-container.more, ul.select-list.more{background: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 100;
    position: absolute;
    padding: 25px 0;
    margin: -61px 0 0 0;
    height: auto;
    margin-bottom: 30px;
}

div#partnerId ul.items-container.more li, ul.select-list.more li{
    float: left;
    list-style: none;
    border-bottom: #f0f0f0 1px solid;
    color: #363636;
    font-size: 16px;
    font-family: 'ToyotaDisplayRegular',sans-serif;
    margin-left: 30px;
    width: 240px;
    padding: 13px 0;
    cursor: pointer;
    margin-bottom: 15px;
}

ul.items-container.more-center, ul.select-list.more-center{margin-left: -374px;}
#lexus ul.items-container.more-center, #lexus ul.select-list.more-center{margin-left: -430px;}

#lexus ul.items-container.more, #lexus ul.select-list.more{width: 1235px;}

div.slider-manufacturers-prev, div.slider-manufacturers-next{position: absolute; width: 30px; height: 30px; background: url("http://content.toyota.ru/img/arrow-slider-mini.png") no-repeat; margin-top: 290px; cursor: pointer; left: 0;}
div.slider-manufacturers-next{background-position: -30px 0; margin-left: 1075px;}

div.slider-car-prev, div.slider-car-next{position: absolute; width: 30px; height: 30px; background: url("http://content.toyota.ru/img/arrow-slider-mini.png") no-repeat; margin-top: 290px; cursor: pointer; left: 0; display: none}
div.slider-car-next{background-position: -30px 0; margin-left: 1075px;}

#lexus div.slider-manufacturers-prev,#lexus div.slider-manufacturers-next{position: absolute; width: 30px; height: 30px; background: url("http://content.toyota.ru/img/arrow-slider-lexus-mini.png") no-repeat; margin-top: 290px; cursor: pointer; left: 0;}
#lexus div.slider-manufacturers-next{background-position: -30px 0; margin-left: 1275px;}

#lexus div.slider-car-prev,#lexus div.slider-car-next{position: absolute; width: 30px; height: 30px; background: url("http://content.toyota.ru/img/arrow-slider-lexus-mini.png") no-repeat; margin-top: 290px; cursor: pointer; left: 0; display: none}
#lexus div.slider-car-next{background-position: -30px 0; margin-left: 1275px;}

div.car-wrap ul.car-list li.car-slide{
    margin: 0;
    padding: 0;
    width: 1060px;
    cursor: default;
    border: none;
}

#lexus div.car-wrap ul.car-list li.car-slide{
    margin: 0;
    padding: 0;
    width: 1305px;
    cursor: default;
    border: none;
}

#lexus div.car-wrap.more-car, div.car-wrap.more-car{margin-top: 30px;}
#lexus div.car-wrap.more-car{margin-left: 190px; width: 1305px;}
#lexus div.car-wrap.more-car ul.car-list, div.car-wrap.more-car ul.car-list{width: 5000px;}

#lexus div.car-wrap.more-car div.slider-car-prev, #lexus div.car-wrap.more-car div.slider-car-next, div.car-wrap.more-car div.slider-car-prev, div.car-wrap.more-car div.slider-car-next{display: block;}

div.preloader_send{width: 100%; height: 100%; top: 0; bottom: 0; position: absolute; background: url("http://content.toyota.ru/img/preloader-bg.png"); z-index: 1000; display: none;}
div.preloader_send img{position: absolute; top:50%; left: 50%; margin: -33px 0 0 -33px;}

#lexus div.select-top.disabled{background:#f7f7f7 url("http://content.toyota.ru/img/select-arrow.png") no-repeat 325px 23px; cursor: default;}
.disabled .list-tablo{background-color:#f7f7f7; cursor: default;}

div.slider-next.disabled,div.slider-prev.disabled{cursor: default; opacity: 0.5;}

.no-border{border: none !important;}

img.close-model{position: absolute;z-index: 1000; cursor: pointer; display: none;}
img.close-dealers{position: absolute;z-index: 1000; cursor: pointer; display: none;}



.bstdMask, .bstd-mask {
    background-color: #999999;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
	opacity: 0.2;
	filter: alpha(Opacity=20);
}

.loader {
    position: fixed;
    display: block;
    width:78px;
    height:78px;
    left: 50%;
    top: 50%;
    margin: -51px 0 0 -51px;
    background: transparent url('../../../img/forms/ajax-loader-lexus.gif') no-repeat 50% 50%;
}

/*new styles for borunov*/
.error-popup{
	display:none;
	width: 96%;
	height: auto;
	margin: 0;
	background: #ffffff;
	position: absolute;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 1001;
	margin: 25px 0 0 0;
	font-family: 'ToyotaDisplay-Bold', sans-serif;
	font-size: 22px;
	text-align: center;
	color: #363636;
	padding-top: 20px;
	padding-bottom: 20px;
}

.error-popup .error_container_title {
	float: left;
	font-size: 14px;
	margin-right: 20px;
	margin-left: 25px;
	clear: both;
	width: 25%;
	text-align: right;
}

.error_container, .form-error {
	font-size: 12px;
	color: #c00407;
	position: absolute;
	background: #fff;
	padding: 2px;
	width:100%;
	max-width: 360px;
	margin-top: 1px;
}

.error-popup .error_container {
	position: relative;
	text-align: left;
	width: auto;
	float: left;
	margin-top: 1px;
	width: 65%;
	z-index: 0;
}

.select-wrap,
.input-wrap,
.textarea{
	position:relative;
	margin-top:31px;
	height: 92px;
}

.items-container{
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 100;
	position: absolute;
	top: 29px;
	padding: 30px 0;
	display: none;
	margin:0;
}

.items-container li:last-child, .select-list li:last-child {
	border: none;
}

.items-container:after{
	position:absolute;
	top:15px;
	right:15px;
	content:'';
	width:46px;
	height:46px;
	cursor:pointer;
	background:url('http://content.toyota.ru/img/close-big-popup.png') center center no-repeat;
}

.items-container li {
	float: left;
	list-style: none;
	border-bottom: #f0f0f0 1px solid;
	color: #363636;
	font-size: 16px;
	font-family: 'ToyotaDisplayRegular',sans-serif;
	width: 20%;
	margin-left: 3%;
	padding: 13px 0;
	cursor: pointer;
}

.items-container li:hover {
	background: #f0f0f0;
}

.select-list {
	padding-left: 0;
	width: 354px;
	padding:15px 0;
	overflow: auto;
	top: 9px;
}

.select-list-top{
	top:29px;
}

.select-list:after{
	display:none;
}

.select-list li{
	width:100%;
}

div.textarea {
	width: 100%;
	height: auto;
}

.file{
	height:175px;
	margin: 9px 0 0 1px;
}

.right{
	float:right;
}


.bstdPopup {
	position:absolute;
	width: 800px;
	left:50%;
	margin-left:-400px;
	overflow: hidden;
	/* height: 300px; */
	margin: 0;
	background: #ffffff;
	position: absolute;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 1001;
	font-family: 'ToyotaDisplay-Bold', sans-serif;
	font-size: 22px;
	text-align: center;
	color: #363636;
	padding-top: 25px;
}

.alert .closeButton,
.trade-evaluation-form .closeButton{
	position:absolute;
	top:15px;
	right:15px;
	width:46px;
	height:46px;
	cursor:pointer;
	background:url('http://content.toyota.ru/img/close-big-popup.png') center center no-repeat;
}

.bstdPopup .title{
	font-size:24px;
	padding: 0 80px;
}

.bstdPopup .content{
	font-size: 14px;
	font-family: 'ToyotaDisplayRegular', sans-serif;
	padding-top: 25px;
	text-align: left;
}

.bstdPopup .buttons{
	width:100%;
	padding-top:25px;
}

.bstdPopup .buttons .button{
	font-size:16px;
}

.close-error-popup{
	position:absolute;
	top:15px;
	right:15px;
	cursor:pointer;
	z-index: 10;
}

.bstdPopup .select-wrap,
.bstdPopup .textarea{
	text-align:left;
	font-family: ToyotaDisplayRegular, sans-serif;
	font-size: 16px;
}

.bstdPopup .form-info{
	text-align:left;
}

.bstdPopup .overall-error-trade {
	width: 100%;
	float: left;
	margin: 15px 0 0 0;
	text-align: left;
}

.block-evaliation{
	overflow: hidden;
	width: 100%;
	margin-top: 30px;
	float: left;
}

#evaliation{
	width:290px;
	margin-top: 10px;
	float: left;
	white-space: normal;
}

#manufacturers .items-container,
#car .items-container{
	height: 600px;
	overflow: auto;
}

.fileName{
	width:100%;
	word-wrap: break-word;
}
