TEMPLATER_INFO::START
	TEMPLATER=Templater2
	DEBUG_MODE=1
	//INSTRUCTION_BLOCK_SEPARATOR=
	INSTRUCTION_BLOCK_SEPARATOR_START=<!--#
	INSTRUCTION_BLOCK_SEPARATOR_END=#-->
	PROPERTY_SEPARATOR=:
	VARIABLE_BLOCK_SEPARATOR_START={%
	VARIABLE_BLOCK_SEPARATOR_END=%}
	//VARIABLE_BLOCK_SEPARATOR
	VARIABLE_SEPARATOR=:
	INSTRUCTION_SEPARATOR_START=<!--@
	INSTRUCTION_SEPARATOR_END=@-->
	//INSTRUCTION_SEPARATOR
	BLOCK_NAME_SEPARATOR=::
TEMPLATER_INFO::END<html> 
<head>  
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Форма заявки на оценку автомобиля</title>
	<link rel="icon" type="image/x-icon" href="http://www.toyota.ru/images/inc/favicon.ico" />
	<link href="http://www.toyota.ru/images/inc/favicon.ico" rel="shortcut icon" />

	<link href="http://feedback.toyota.ru/imold/core_tcm215-24519.css" type="text/css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="http://content.toyota.ru/css/bstdForm.css" />
	
	<style> 
		input, select {
			font-family: Verdana;
			font-size: 11px;
		}
		#resizer {
			width: 550px;
		}
		form {
			margin:0;
			padding:10px;
			background-color:#F5F5F5;
			width: 530px;
		}
		table {
			width: 100%;
		}
		.im { cursor:pointer}
		input  {padding:0; margin:0;}
		.point { cursor:pointer;}
		.select_field {width: 215px;}
		.bstd_form_error, .error {
			color:red;
		}
		td.required {
			background: url("http://feedback.toyota.ru/imold/lex_70_glb_tick1.gif") no-repeat scroll 0 0 transparent;
		}
		td.last {
			width: 20px;
		}
		td {
		    padding: 2px 0;
		}
		input[type="text"] {
			height: 17px;
			width: 300px;
		}
		select {
			width: 300px;
		}
		td>textarea {
			width: 300px;
		}
		th {
		    border-top: 1px solid #CCCCCC;
		    padding: 7px 0 5px;
		}
		
		.loader {
			left: 289px;
		}
	</style> 

	<!--script type="text/javascript" src="http://content.toyota.ru/js/jq/jquery-1.11.1.min.js"></script-->
	<script type="text/javascript" src="http://content.toyota.ru/js/jq/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="http://content.toyota.ru/js/jq/jquery-ui.1.9.2.js"></script>
	
	<script type="text/javascript" src="http://content.toyota.ru/js/jq/jquery-ui.1.9.2.js"></script>
	<script type="text/javascript" src="http://content.toyota.ru/js/jq/jquery.json-2.3.min.js"></script>
	
	<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdSystem3.js"></script>
	<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdLTAPI_3.js"></script>
	<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdTips.js"></script>
	<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdPopup_3.js"></script>
	<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdForms3.js"></script>
	<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdCaptcha.js"></script>
	<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdOnlyUploader.js"></script>
	<script type="text/javascript" src="http://content.toyota.ru/js/bstd/bstdFramesAB.js"></script>
	
	<script type="text/javascript" src="http://content.toyota.ru/js/bstd/valuations2-test.js"></script>
</head>
<body>
	<div id="resizer">
		<div  id="toyotaLogo" style="display: none;">
			<img src="http://trade.toyota.ru/img/ttlogo.jpg" width="200" height="84">
			<h3>Уважаемые клиенты!</h3>
			<p>Воспользуйтесь комфортным и быстрым способом он-лайн оценки Вашего автомобиля!<br />
Для этого заполните форму он-лайн оценки, представленную ниже,<br />и направьте ее в дилерский центр Тойота.<br />
В ближайшее время ответственный сотрудник дилерского центра<br />свяжется с Вами удобным для Вас способом (e-mail, телефон)<br />и компетентно ответит на все интересующие Вас вопросы!</p>
		</div>
		<div  id="lexusLogo" style="display: none;">
			<img src="http://trade.lexus.ru//img/ltlogo.jpg" width="127" height="84">
			<h3>Уважаемые клиенты!</h3>
			<p>Воспользуйтесь комфортным и быстрым способом он-лайн оценки Вашего автомобиля!<br />
Для этого заполните форму он-лайн оценки, представленную ниже,<br />и направьте ее в дилерский центр Lexus.<br />
В ближайшее время ответственный сотрудник дилерского центра<br />свяжется с Вами удобным для Вас способом (e-mail, телефон)<br />и компетентно ответит на все интересующие Вас вопросы!</p>
		</div>
		<form id="carValuationForm" method="post" enctype="multipart/form-data" action="/z/valuation" bstd_error_type="1"> 
			<input type="hidden" name="a" value="s" />
			<input type="hidden" name="b" value="a" />
			<input type="hidden" name="_fid" value="{%_fid%}" />
			<table border="0" cellpadding="0" cellspacing="0"> 
				<tbody>
					<tr data-section-name="personalData">
						<th colspan="3">Персональные данные</th>
					</tr>
					<tr data-type="cityId">
						<td class="label">
							<label>Город<span style="color:red;">*</span></label>
						</td>
						<td>
							<select  name="cityId" bstd-required="required" id="cityId">
							</select>
							<div  bstd-form-error="cityId" class="error_container bstd_form_error"></div>
						</td>
						<td class="last ">&nbsp;</td>
					</tr>
					<tr data-type="partnerId">
						<td class="label">
							<label>Выберите дилера<span style="color:red;">*</span></label>
						</td>
						<td>
							<select  name="partnerId" bstd-required="required" id="partnerId" >
							</select>
							<div bstd-form-error="partnerId" class="error_container bstd_form_error"></div>
						</td>
						<td class="last ">&nbsp;</td>
					</tr>
					<tr>
						<td class="label">
							<label>Имя<span style="color:red;">*</span></label>
						</td>
						<td>
							<input type="text" id="memberName" name="memberName" bstd-required="required" bstd_valide_type="fio" value="" />
							<div bstd-form-error="memberName" class="error_container bstd_form_error"></div>
						</td>
						<td class="last ">&nbsp;</td>
					</tr>
					<tr>
						<td class="label">
							<label>Телефон<span style="color:red;">*</span></label>
						</td> 
						<td>
							<input id="phone"  type="text" name="phone" bstd-required="required" bstd_valide_type="phone" value="" />
							<div bstd-form-error="phone" class="error_container bstd_form_error"></div>
						</td>
						<td class="last ">&nbsp;</td>
					</tr>
					<tr> 
						<td class="label">
							<label>E-mail<span style="color:red;">*</span></label>
						</td> 
						<td>
							<input  type="text" id="email" name="email" bstd-required="required" bstd_valide_type="email" value="" /><br />
							<div bstd-form-error="email" class="error_container bstd_form_error"></div>
						</td> 
						<td class="last ">&nbsp;</td>
					</tr>
					<tr> 
						<th colspan="3">Желаемый новый автомобиль</th>
					</tr> 
					<tr> 
						<td class="label">&nbsp;</td>
						<td>
							<select id="tradeInModel" name="tradeInModel" >
							</select><br />
							<div bstd-form-error="tradeInModel" class="error_container bstd_form_error"></div>
						</td>
						<td class="last">&nbsp;</td>
					</tr>
					<tr> 
						<th colspan="3">Описание автомобиля</th>
					</tr>
					<tr> 
						<td class="label">
	                    	<label>Марка<span style="color:red;">*</span></label>
						</td>
						<td>
							<select id="manufacturers" name="manufacturers" bstd-required="required" >
							</select><br />
							<div bstd-form-error="manufacturers" class="error_container bstd_form_error"></div>
						</td>
						<td class="last ">&nbsp;</td>
					</tr>
					<tr>
						<td class="label">
	                       <label>Модель<span style="color:red;">*</span></label>
						</td>
						<td>
							<select id="car" name="car" bstd-required="required"  >
							</select><br />
							<div bstd-form-error="car" class="error_container bstd_form_error"></div>
						</td>
						<td class="last ">&nbsp;</td>
					</tr>
					<tr> 
						<td class="label">
	                       	<label>Пробег<span style="color:red;">*</span></label>
						</td> 
						<td>
							<input  type="text" name="mileage" id="mileage" bstd-required="required" bstd_valide_type="mileage" value=""><br />
							<div bstd-form-error="mileage" class="error_container bstd_form_error"></div>
						</td> 
						<td class="last ">&nbsp;</td>
					</tr>
					<tr> 
						<td class="label">
							<label>Год выпуска<span style="color:red;">*</span></label>
						</td> 
						<td>
							<input  type="text" id="manufactured" name="manufactured" bstd-required="required" bstd_valide_type="yearB" value="">
							<div bstd-form-error="manufactured" class="error_container bstd_form_error"></div>
						</td>
						<td class="last ">&nbsp;</td>
					</tr>
					<tr>
						<td class="label">
							<label>Дополнительная<br />информация:</label>
						</td>
						<td>
							<textarea id="description" name="description" rows="5"></textarea>
							<div bstd-form-error="description" class="error_container bstd_form_error"></div>
						</td>
						<td>&nbsp;</td>
					</tr> 
					<tr> 
						<th colspan="3">Фотографии автомобиля</th> 
					</tr>
					<tr>
						<td class="label">&nbsp;</td>
						<td>
							<input  type="file" id="photo" bstd-type="bstdOnlyUploader" name="photo[]" bstd-name="photo" bstd-type-prams="controller:s,action:b,maxCount:5, path:http:\/\/trade.toyota.ru\/z\/valuation\/photo\/"/>
							<div bstd-form-error="photo" class="error_container bstd_form_error"></div>
						</td>
						<td class="last">&nbsp;</td>
					</tr>
					<!--
					<tr> 
						<th colspan="3">Подтвердите, что вы не робот</th>
					</tr>
					<tr>
						<td class="label">
							<label>Код проверки</label>
						</td>
						<td>
							<div bstd-type="bstdCaptcha" bstd_captha_validate="1" bstd-name="captcha"></div>
						</td>
						<td class="last required">&nbsp;</td>
					</tr>
					-->
					<tr>
						<td colspan="3">
							<label for="agreement"><input type="checkbox" id="agreement" bstd-form-agreement="1" name="agreement" value="1" />&nbsp;
							<a href="http://www.toyota.ru/forms/privacy.tmex" target="_blank">Я подтверждаю согласие на обработку персональных данных.</a><span style="color:red;">*</span></label>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<span style="color:red;">*</span> - Поля обязательные для заполнения
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<input id="submit" type="submit" style="display:none;" value="Отправить" />
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div> 
</body> 
</html> 