@font-face {
    font-family: "Nobel";
    src: url("nobel.eot");
    src: url("nobel.eot?#iefix") format("embedded-opentype"),
    url("nobel.woff") format("woff"),
    url("nobel.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nobel Light";
    src: url("nobel-light.eot");
    src: url("nobel-light.eot?#iefix") format("embedded-opentype"),
    url("nobel-light.woff") format("woff"),
    url("nobel-light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}