@CHARSET "UTF-8";


.form-field-box.odd {
    background: none repeat scroll 0 0 #FFFFFF;
}
.form-field-box {
    margin: 5px 0;
    padding: 5px 10px 5px 15px;
}

.bstdMask {
    background-color: #999999;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
	opacity: 0.2;
	filter: alpha(Opacity=20);
}

.bstdPopup {
	font-family: Verdana,Arial,sans-serif;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 500px;
    background-color: #FFFFFF;
	z-index: 9000;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.bstdPopup .closeButton {
    background: url("http://content.toyota.ru/img/chosen-sprite.png") no-repeat scroll right top transparent;
    display: block;
    font-size: 1px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
}

.bstdPopup .title {
    background: url("http://content.toyota.ru/img/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    border-radius: 4px 4px 0 0;
    color: #555555;
    font-weight: normal;
    padding: 5px 10px;
    border: 1px solid #D3D3D3;
    font-size: 14px;
    font-weight: bold;
}

.bstdPopup .content {
	padding: 5px 10px;
}

[bstd-type=bstdBindingList] > select {
    float: left;
    height: 200px;
    width: 300px;	
}

[bstd-type=bstdBindingList] > div {
	width:100px;
	float: left;
    padding-top: 15px;
}

[bstd-type=bstdBindingList] > div > input {
    cursor: pointer;
    display: block;
    float: none;
    font-family: verdana;
    font-size: 14px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    width: 40px;
}




.bstd-number_panel {
	display: none;
	padding: 5px;
	font-family: Verdana,Arial,sans-serif;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    position: absolute;
    background-color: #FFFFFF;
	z-index: 9000;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	font-size: 20px;
}
.bstd-number_panel-row {
	
}
.bstd-number-panel-button {
	background-color: #999999;
	border: 1px solid #AAAAAA;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	height: 30px;
	padding: 10px 0;
	text-align: center;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.bstd-number-panel-button-notnull {
	width: 50px;
	float: left;
}
.clear {
	clear: both;
}
.bstd-number-panel-disabled {
	
}
.bstd-number-panel-button.bstd-number-panel-button-notnull.select {
	background-color: #666666;
	color: #D0D0D0;
}
.bstd-number_panel-vnull {
	height: 82px;
	padding-top: 62px;
	width: 50px;
}
.float-letf {
	float: left;
}
.bstd-number-panel-disabled {
	background-color: #F0F0F0;
	color: #D0D0D0;
}

form.error, form.error_container {
	color: red;
}
form.error_container {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
}
	
.bstd-tablo-a {
	display: none;
	padding: 5px;
	font-family: Verdana,Arial,sans-serif;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    position: absolute;
    background-color: #FFFFFF;
	z-index: 9000;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	font-size: 36px;
}
.bstd-tablo-panel {
	float: left;
}
.bstd-tablo-input {
	float: left;
	font-size: 36px;
	height: 50px;
	padding: 5px;
	text-align: center;
	width: 30px;
}
.bstd-tablo-input.select {
	background-color: #F5F5F5;
}



#dealersInRacesTable th {
    text-align: center;
}


#dealersInRacesTable td {
    text-align: center;
}

#dealersInRacesTable input {
    color: #999999;
    font-weight: bold;
    text-align: center;
    width: 30px;
}







.form-input-box > select {
    height: 32px;
    padding-top: 7px;
    width: 510px;
}
.form-input-box > textarea {
    height: 60px;
    width: 505px;
}
.form-input-box > input {
    height: 28px;
    width: 505px;
}