@CHARSET "UTF-8";
.facilityLink {
	border:none;
	text-decoration:none;
	outline:none;
}
.facilityDealerImage {
	margin-right: 3px;
}
a.dealer_link {
	color: #000000;
	text-decoration: underline;
}
a.dealer_link:hover {
 			color: #E50000;
}