@font-face {
  font-family: 'favoritcbold';
  src: url('/fonts/favoritc-bold-webfont.eot');
  src: url('/fonts/favoritc-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/favoritc-bold-webfont.woff') format('woff'), url('/fonts/favoritc-bold-webfont.ttf') format('truetype'), url('/fonts/favoritc-bold-webfont.svg#favoritcbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'favoritlightcregular';
  src: url('/fonts/favoritlightc-webfont.eot');
  src: url('/fonts/favoritlightc-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/favoritlightc-webfont.woff') format('woff'), url('/fonts/favoritlightc-webfont.ttf') format('truetype'), url('/fonts/favoritlightc-webfont.svg#favoritlightcregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'favoritbookcregular';
  src: url('/fonts/favoritbookc-webfont.eot');
  src: url('/fonts/favoritbookc-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/favoritbookc-webfont.woff') format('woff'), url('/fonts/favoritbookc-webfont.ttf') format('truetype'), url('/fonts/favoritbookc-webfont.svg#favoritbookcregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'favoritcregular';
  src: url('/fonts/favoritc-webfont.eot');
  src: url('/fonts/favoritc-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/favoritc-webfont.woff') format('woff'), url('/fonts/favoritc-webfont.ttf') format('truetype'), url('/fonts/favoritc-webfont.svg#favoritcregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
