@font-face {
    font-family: 'a_FuturicaLtThin';
    src: url('http://content.v10.lexus.ru/forms/test-drive/css/futur_5-webfont.eot');
    src: url('http://content.v10.lexus.ru/forms/test-drive/css/futur_5-webfont.eot?#iefix') format('embedded-opentype'),
        url('http://content.v10.lexus.ru/forms/test-drive/css/futur_5-webfont.woff') format('woff'),
        url('http://content.v10.lexus.ru/forms/test-drive/css/futur_5-webfont.ttf') format('truetype'),
        url('http://content.v10.lexus.ru/forms/test-drive/css/futur_5-webfont.svg#a_FuturicaLtThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* main resets */

html {
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}
body {
    margin: 30px 0;
    background: #262626;
    color: #fff;
    font-family: arial;
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
ul, li {
    padding: 0;
    margin: 0;
}
img {
    border: 0; 
}
form {
    margin: 0;
	padding-bottom: 50px;
}
.model .image {
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
}
.clearline {
    clear: both;
    margin-top: 35px;
    width: 100%;
}
.np {
    padding-top: 0 !important;

}

.heading {
    font-family: 'a_FuturicaLtThin';
    font-size: 22px;
    text-transform: uppercase;
}

/* other styles */

#center-column {
    width: 940px;
    margin: 0 auto;
}
.model .name {
    font-family: 'a_FuturicaLtThin';
    font-size: 22px;
    text-transform: uppercase;
}
.exp {
    font: bold 12px arial;
}
.exp2 {
    font: bold 11px arial;
}
.close {
    float: right;
    background: url('../image/close-btn.png') no-repeat;
    background-position: right;
    width: 36px;
    height: 36px;
    border: 0;
    padding-right: 100px;
    color: #fff;
    font: bold 12px arial;
}
.close:hover {
    color: #4279b1;
    cursor: pointer;
}
#modelsList {
    border-bottom: 1px solid #464646;
}
#modelsList label {
    font: 12px arial;
    margin-left:4px;
}
#modelsList .model {
   
    display: inline-block;
    // float: left;
    vertical-align: top;
    margin: 0 42px 27px 0;
}
.model .submodels {
    padding: 10px 0;
    display: block;
    width: 140px; 
}
.submodelItem{
    border-bottom: 1px solid #464646;
    padding:7px 0 7px 0;
}
#personal-data {
    border-bottom: 1px solid #464646;
    padding: 27px 0 12px 0;
    position: relative;
}
.required-data {
    font: 9px verdana;
    color: #4279b1;
    padding-left: 37px;
}
.pl {
    padding-left: 20px;
}
.txt-blocks {
    display: table-cell;
    padding: 20px 30px 0 0; 
}
.text-field {
    background: #353535;
    border: 1px solid #464646; 
    height: 33px;
    width: 230px;
    color: #fff;
    font: bold 12px arial;
    border-radius: 2px;
}
.text-field-white {
    background: #fff;
    color: #6b6b6b;
    border: 1px solid #464646; 
    height: 33px;
    width: 230px;
    font: bold 12px arial;
    border-radius: 2px;
}
.req {
color: #4279b1;
}
#dealer {
        border-bottom: 1px solid #464646;
    padding: 27px 0 27px 0;
    position: relative;
}
.dropdown {
 width: 230px;
    height: 33px;
    margin-top: 22px;
/*    background: #343434;
    border: 1px solid #464646; 
    border-radius: 5px;
    
    color: #fff;*/
}
#additional-data {
    padding: 27px 0 12px 0;
    position: relative;
}
.submit {
    float: right;
    background: url('/img/submit.png') no-repeat;
    border: 0;
    width: 108px;
    height: 36px;
    cursor: pointer;
}
#footer {
    width: 100%;
    background: #404040;
    color: #4279b1;
    /*margin-top: 50px;*/
    padding: 20px 0;
   /* margin-bottom: -30px;*/
}
#footer-column {
        width: 940px;
    margin: 0 auto;
    font: 11px arial;
}
#additional-data-a {
	width:700px;
	float:left;
}
#additional-data-b {
	width:200px;
	float:left;
}

.bstdPopup .content {

	color: #000000;
    font-size: 14px;
    text-align: center;
}

#phone_error, #firstName_error, #lastName_error, #age_error, #email_error {
    font-size:10px;
}

#city {
    padding-top: 20px;
}

span.comment {
	font-size: 11px;
	font-style: italic;
	display: block;
}

.model[data-model="9"], .model[data-model="9"] .submodels {
    width: 65%;
}


.model[data-model="9"] span.comment {
	color: #6A6A6A;
	font-style: normal;
	display: inline-block;
	margin-left: 6px;
}

.model[data-model="9"] .disclaimer {
    color: #6A6A6A;
    font-size: 10px;
}

.model[data-model="9"] .submodelItem:last-child > span.comment {
	display: none;
}
