/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* @end */












.l-layout {
    /*overflow-y: scroll !important;*/
}

.b-form_preorder .btn_up > div {
    background-position: -253px -160px;
}

.b-title_h1:after {
    background-position: 0 -1px !important;
}

.b-form_preorder > .wrapper {
    background: #0C112F url('http://content.lexus-russia.ru/i/nx_preorder_back.jpg') no-repeat 50% top;
    background-attachment: scroll !important;
    background-color: #0C112F;
    /*padding-bottom: 100px;*/
    /*height: 1280px;*/
    position: absolute;
    width: 100%;
}

.form {
    width: 874px;
    min-height: 650px;
    background: #242b57;
    position: relative;
    margin: 626px auto 0;
    padding: 50px;
    -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    
    font: normal 16px/1em Arial, Helvetica, Geneva, sans-serif;
    text-align: left;
    margin-bottom: 50px;
}

.agreement_window .close, .success_window .close {
    background-image: url("http://lexus.ru/img/glb/close-icon_tcm864-1291683.png");
       cursor: pointer;
       height: 43px;
       position: absolute;
       right: 0;
       top: 0;
       width: 38px;
}

.form:before {
    content: "";
    border-color: #242b57 transparent ;
    border-style: solid;
    border-width: 0 26px 26px 26px;
    display: block;
    width: 0;
    height: 0;
    top: 0;
    position: absolute;
    margin-top: -26px;
    left: 50%;
    margin-left: -26px;
    
}

.form:after {
    content: "";
    display: block;
    clear: both;
}

.form > h1 {
    font-size: 30px;
    font-weight: normal;
    font-family: 'favoritcbold', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #404b89;
}

.form .fields:after {
    content: "";
    display: block;
    clear: both;
}

.form .field {
    float: left;
    margin-right: 19px;
    display: block;
    margin-bottom: 19px;
}

.form .field:nth-child(3n+3) {
    margin-right: 0;
}


.form label {
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    font-family: 'favoritlightcregular', sans-serif;    
}

.form input[type="text"], .form input[type="email"], .form input[type="phone"], .custom_select > span {
    font: normal 14px/1.5em Arial, Helvetica, Geneva, sans-serif;
    width: 245px;
    height: 41px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: none;
    padding: 10px;
    -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
}

.custom_select > span {
    /*margin-left: -8px;*/
	background-color: #ffffff;
	display: block;
	color: #000;
}

.error {
    background-color: #f0b2c1;
}

.form .custom_select {
    position: relative;
}

.form .custom_select:after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    position: absolute;
    background: transparent url('http://content.lexus-russia.ru/i/form_icons.png') no-repeat 0 0;
    top: 0;
    right: 0;
    margin: 18px 10px;
}

.form .custom_select .dropdown_menu {
    background: #fff000;
    display: block;
    font: normal 14px/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 999;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown_menu > li {
    height: 36px;
    line-height: 1em;
    font-size: 16px;
    width: 100%;
    color: #000;
    text-align: left;
    background: #f5f5f5;
    padding: 10px;
    -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    border-top: 1px solid #d9d9d9;
}

.dropdown_menu > li:hover {
    background: #d9d9d9;
}



.form button, .form .button, .form input[type="submit"] {
    width: 246px;
    height: 61px;
    border: none;
    background: #404b89;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    font-family: 'favoritbookcregular', sans-serif;
    
    
}

.form button:hover, .form .button:hover, .form input[type="submit"]:hover {
    background: #724089;
}
.form input[type="submit"] {
	display: block;
}

.form input[type="checkbox"] {
    display: none;
}

.form input[type="checkbox"] + label {
    font: normal 12px/1em 'favoritlightcregular', sans-serif;
    text-transform: none;
    color: #949cc5;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.form input[type="checkbox"] + label:before, label.checkbox:before {
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 2px;
    margin-right: 6px;
    vertical-align: middle;
    background: #fff url('../i/form_icons.png') no-repeat -200px 0;
}

.form input[type="checkbox"]:checked + label:before, label.checkbox.checked:before {
    background-position: -17px 6px;
}

.form label + span {
    display: inline-block;
    text-align: middle;
    font: normal 12px/1em 'favoritlightcregular', Arial, Helvetica, Geneva, sans-serif;
    color: #fff;
    text-decoration: none;
    vertical-align: top;
    margin-left: -16px;
    height: 17px;
    cursor: pointer;
    /*line-height: 16px;*/
}


.errors-container {
    display: inline-block;
    float: left;
    margin-left: 280px;
    margin-top: -62px;
    width: 490px;
    color: #949CC5;
    font: 12px/1.3em 'favoritlightcregular',Arial,Helvetica,Geneva,sans-serif;
    
}


.disabled, .disabled * {
    color: #aaa !important;
}






.overlay {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background: #000;
    opacity: 0.2;
    display: none;
}

.success_window {
    width: 512px;
    height: 340px;
    display: block;
    position: absolute;
    background-color: #3b4787;
    padding: 120px;
    color: #fff;
    text-align: center;
    
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -261px;
    
    -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
                
    display: none;
}

.success_window .title {
    font: normal 30px/1.5em 'favoritlightcregular', Arial, Helvetica, Geneva, sans-serif;
    text-transform: uppercase;
}

.success_window .message {
    font: normal 14px/1.5em 'favoritlightcregular', Arial, Helvetica, Geneva, sans-serif;
}







/* temp */


.b-form_preorder.autonom .b-title_h1 {
    font-size: 34px;
    line-height: 40px;
    /*display: inline-block;*/
    font-family: 'favoritlightcregular', Arial;
    margin-bottom: 5px;
    /*position: relative;*/
    position: absolute;
    top: 45px;
    left: 50%;
    margin-left: -138px;
    
    color: #fff;
    text-transform: uppercase
}

.b-form_preorder.autonom .b-title_h2 {
    font-size: 55px;
    line-height: 60px;
    font-family: 'favoritcbold', sans-serif;
    margin-bottom: 47px;
    position: absolute;
    top: 90px;
    width: 100%;
    text-align: center;
    left: 0px;
    color: #fff;
    text-transform: uppercase;
}

.autonom .b-title_h1:before, .autonom .b-title_h1:after {
    display: block;
    content: '';
    width: 159px;
    height: 1px;
    top: 50%;
    position: absolute;
    background: url(http://nx.lexus.ru/i/decor.png) no-repeat 0 0;
}

.autonom .b-title_h1:before {
    left: -170px;
}


.autonom .b-title_h1:after {
    background-position: 0 -1px;
    right: -170px;
}

.agreement_window {
    background-color: #3B4787;
    box-sizing: border-box;
    color: #FFFFFF;
    display: none;
    height: 340px;
    left: 50%;
    margin: -200px 0 0 -261px;
    padding: 40px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 512px;
    
}

.agreement_window .title {
    font: normal 30px/1.5em 'favoritlightcregular', Arial, Helvetica, Geneva, sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.agreement_window .message {
    font: normal 14px/1.5em 'favoritlightcregular', Arial, Helvetica, Geneva, sans-serif;
    text-align: left;
    overflow-y: scroll;
    height: 250px;
    padding-right: 20px;
}
