/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* @end */


/* @group From toyota */

/*@font-face {
    font-family: 'Toyota';
    src: url('../fonts/toyotadisplay_bd-webfont_tcm721-1098034.eot');
    src: url('../fonts/toyotadisplay_bd-webfont_tcm721-1098034.eot?#iefix') format('embedded-opentype'),
         url('../fonts/toyotadisplay_bd-webfont_tcm721-1098037.woff') format('woff'),
         url('../fonts/toyotadisplay_bd-webfont_tcm721-1098036.ttf') format('truetype'),
         url('../fonts/toyotadisplay_bd-webfont_tcm721-1098035.svg#ToyotaDisplayBold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Toyota';
    src: url('/fonts/toyotadisplay_bd.eot');
    src: url('/fonts/toyotadisplay_bd.eot') format('embedded-opentype'),
         url('/fonts/toyotadisplay_bd.woff') format('woff'),
         url('/fonts/toyotadisplay_bd.ttf') format('truetype'),
         url('/fonts/toyotadisplay_bd.svg#ToyotaDisplayBold') format('svg');
}

body{font-family: Arial, sans-serif; font-size:15px; color:#666; background-color: #f7f7f7;
}

/* @end */

/* @group Basic elements */
a {color:#666; text-decoration: none;}
.inlinks > div {cursor: pointer;}
a:hover, .inlinks > div:hover, .float_link:hover {color:#4589ce; text-decoration: underline; cursor: pointer;}
body {background: #f5f5f5;}

.clear {clear: both;}
.hide {display: none;}
.float_link {
	position: absolute;
	right: 17px;
}

.block_item {
	border-bottom: 1px solid #CDCDCD;
}
.block_item span {
	height: 60px;
	line-height: 60px;
	font-size: 15px;
	text-align: right;
	padding-right: 24px;
}

.block_item .label {
	color: #000;
	text-align: left;
	padding-left: 24px;
	padding-right: 0;
}

.block_item.price, .block_item.brand, .block_item.model {
	text-transform: uppercase;
}


input[type="checkbox"], input[type="radio"] {
	display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	background: url('/img/checkbox.png') no-repeat 0 100%;
	padding-left: 20px;
	display: inline-block;
	border: 1px solid #cacaca;
	height: 9px;
	
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
	background-position: 0 0;
}

input[type="text"], input[type="email"], input[type="phone"] {
	height: 12px;
	border: 1px solid #cacaca;
	width: 340px;
	line-height: 12px;
	padding: 10px;
	color: #cacaca;
	margin-top: 25px;
}

input[type="email"], input[type="phone"] {
	width: 348px;
}

textarea {
	min-height: 40px;
	border: 1px solid #cacaca;
	width: 340px;
	line-height: 12px;
	padding: 10px;
	color: #cacaca;
	margin-top: 25px;
}



/*.select > div {
	padding: 0 10px;
	height: 32px;
	display: block;
	line-height: 10px;
}*/

/*.select:after {
	content: " ";
	width: 32px;
	height: 32px;
	background: url(/img/select_arrow.png) no-repeat 100% 0;
	position: absolute;
	right: 0;
}*/

/*.select */select {
	background: transparent none;
	border-radius: 0;
	height: 32px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	width: 100%;
	/*position: absolute;*/
	padding: 6px 10px;
	color: #cacaca;
	display: block;
/*   		opacity: 0;
   		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
   		left: 0;*/
   		zoom: 1;
   }
   
select {
	background: url(/img/select_arrow.png) no-repeat 100% 0;
	border: 1px solid #CACACA;
	display: block;
	height: 32px;
	overflow: hidden;
	position: relative;
	
}

select option {
	height: 20px;
	padding: 10px;
	
}

input[type="submit"] {
	height: 29px;
	line-height: 29px;
	padding: 0 12px;
	color: #fff;
	background-color: #d60000;
	border: none;
	border-radius: 3px;
	margin-top: 10px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #f23f3f;
}

.label + input[type="text"], .label + input[type="email"], .label + input[type="phone"], .label + textarea, 
label + input[type="text"], label + input[type="email"], label + input[type="phone"], label + textarea {
	margin-top: 0;
}

input.error {
	color: #d60000;
	border-color: #d60000;
}
div.error_container {
	/*padding: 10px;
	background-color: #fcb1b1;
	color: #d60000;
	width: 94%;*/
	
}

/* @end */


/* @group search menu from toyota */
.search-menu {
	height: 35px;
	background: url(http://trade.toyota.ru/images/search-menu-bg-gradient.gif) repeat-x 0 0;
}

.search-menu a {
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	color: #b0b0b0;
	line-height: 35px;
	display:block;
	width: 258px;
	height: 35px;
	background: url(http://trade.toyota.ru/images/search-menu-bg-gradient.gif) repeat-x 0 0;
	float: left;
	margin-right: 1px;
	text-align: center;
}

/* @end */

/* @group Layout */

#content_block {
	/*width: 990px;*/
	/*margin: 0 auto;*/
	
	font: 1em/1.3em Verdana,sans-serif;
}

.nav {
	height: 106px;
	line-height: 106px;
	/*background: #fff;*/
	margin-top: 6px;
	padding: 0 0 0 14px;
/*	border-bottom: 1px solid #cacaca;*/
	position: relative;
	background: url('../img/tradein/header-underline.png') no-repeat center top;
}

.carblock {
	padding: 16px;
	/*background: #fff;*/
	position: relative;
	padding-top: 25px;
	background: url('../img/tradein/header-underline.png') no-repeat center top;
}

.conteiner {
	width: 990px;
	margin: 0 auto;
	position: relative;
}

.left_column {
	width: 536px;
	/*border: 1px solid #f4f4f4;*/
	float: left;
}

.right_column {
	width: 406px;
	/*border: 1px solid #f4f4f4;*/
	/*margin-left: 16px;*/
	float: right;
}

.carblock .title {
	font: normal 40px/1.2em 'Toyota',Verdana,sans-serif;
	color: #666666;
	letter-spacing: -1px;
}

.carblock .price_title {
	font: 37px/1.2em Verdana,sans-serif;
	color: #000;
	text-align: right;
	margin-right: -8px;
	letter-spacing: -2px;
}


.features, .contacts {
	padding: 8px 0;
	position: relative;
	margin-bottom: 18px;
}

.features {
	color: #7d7d7d;
	font-size: 15px;
}

.tab_block {
	margin-top: 30px;
}


.carblock .preview {
	overflow: hidden;
	margin-bottom: 114px;
}

.block_title {
	text-transform: uppercase;
	color: #626262;
	border-bottom: 1px solid #CDCDCD;
	margin-bottom: 24px;
	height: 60px;
	line-height: 60px;
}

.tooltip {
   background: none repeat scroll 0 0 #4589CE;
       border-radius: 5px;
       color: #FFFFFF;
       left: 50%;
       line-height: 20px;
       margin-left: -80px;
       min-height: 20px;
       padding: 10px 12px;
       position: relative;
       text-align: center;
       top: 44px;
       visibility: hidden;
       width: 140px;
       z-index: 999;
       /*font-size: 10px;*/
}

.tooltip input[type="checkbox"] + label {
	background-position: 0 -12px;
	display: block;
	height: auto;
}

.tooltip input[type="checkbox"]:checked + label {
	background-position: 0 6px;
}


.tooltip .corner {
	background: url('../img/tradein/tooltip_corner.png') 0 100%;
	display: block;
	    height: 5px;
	    left: 50%;
	    margin-left: -5px;
	    position: absolute;
	    top: -5px;
	    width: 10px;
}

.tooltips:hover .tooltip {
	visibility: visible;
	z-index: 9999;
	cursor: auto;
}




/* @end Layout */


/* @group Nav panel */

.bottom_nav {
	margin-top: 0;
	border-bottom: 0;
	/*border-top: 1px solid #cacaca;*/
}

.nav a {
	background: url('../img/tradein/buttons.png') no-repeat;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	margin-right: 14px;
	font: bold 11px/40px Arial, Helvetica, Geneva, sans-serif;
}

.nav a span {
	background: url('../img/tradein/buttons.png') no-repeat;
	height: 40px; width: 40px;
	display: inline-block;
	line-height: 40px;
	
}


.nav .prev {
	background-position: 100% -40px; 
	padding-right: 12px;
	/*float: left;*/
}

.nav .prev span {
	background-position: 0 0; 
	padding-left: 12px;
	float: left;
}

.nav .next {
	background-position: 0 -120px; 
	padding-left: 12px;
	/*float: left;*/
}

.nav .next span {
	background-position: 100% -80px; 
	padding-right: 12px;
	float: right;
}

.nav .prev.disabled, .nav .next.disabled {
    display: none;
}

.function {
	display: block;
	height: 35px;
	margin-left: 440px;
	margin-top: -19px;
	position: absolute;
	right: 0;
	top: 50%;
	
}

.function > div {
	background: url('../img/tradein/function_icons.png') no-repeat;
	width: 38px; height: 100%;
	display: inline;
	float: left;
	margin: 0 6px;
	cursor: pointer;
	/*position: relative;*/
}

.function .favorite {background-position: 0 0;}
.function .print {background-position: 0 -35px;}
/*.function .close {background-position: -48px center;}*/

/* @end */


/* @group Image Link */

.img_link {
	border: 1px solid #dedede;
	width: 100%;
	height: 83px;
	overflow: hidden;
	background: transparent url('/img/img_link.png') no-repeat left top;
	margin: 10px 0 18px 0;
	cursor: pointer;
}

.img_link:hover {
	color: #e50000 ;
}

.img_link .link {
	padding-top: 56px;
	margin-left: 83px;
	padding-left: 17px;
	border-left: 1px solid #dedede;
	height: 100%;
	padding-right: 20px;
	background: none;
}

.img_link span, .arrow, .contacts .arrow:hover {
	background: url('/img/arrows.png') no-repeat 100% 3px;
	padding-right: 14px;
	cursor: pointer;
}
.contacts .arrow {
	background: none;
}


.img_link span, .arrow, .contacts .arrow:hover {
	background: url('/img/arrows.png') no-repeat 100% 3px;
	padding-right: 14px;
	cursor: pointer;
}

.tested_list {background-position: 0 0px;}
.valuation {background-position: 0 -83px;}
.credit {background-position: 0 -166px;}


/* @end */



/* @group Features */

.features .block_item span {
	width: 44%;
	display: inline-block;
}

.features .block_item .label {
	color: #000;
}

/* @end */


/* @group Toyota Tested */


.tested_options {
	margin-top: 17px;
}

.tested_options div {
	width: 87px;
	display: block;
	height: 100%;
	float: left;
	background: transparent url('/img/toyota_tested_options.png') no-repeat;
	cursor: pointer;
	border: 1px solid #dedede;
	margin-left: -1px;
	position: relative;
}

.tested_options div:hover {
	border-color: #b10000;
	z-index: 999;
}

.tested_options .cleaned {
	background-position: -90px 0;
}
.tested_options .basic_services {
	background-position: -180px 0;
}
.tested_options .warranty {
	background-position: -270px 0;
}

/* @end */

/* @group Tabs */


.tabs {
	height: 72px;
	
}

/*.tab-buttons {
	border-bottom: 1px solid #dedede;
	height: 26px;
	
}*/

.tab-buttons {
	height: 71px;
	display: block;
	float: left;
	padding: 0 10px;
	line-height: 72px;
	cursor: pointer;
	text-transform: uppercase;
	background: #BDBDBD;
	border-left: 1px solid #A3A3A3;
	border-top: 1px solid #BDBDBD;
	
} 

.tab-buttons:first-child {
	border-left: 0;
}

.tabs > .select {

	color: #000;
	background: #fff !important;
	
}

.tab-buttons:hover {
	color: #000;
}

.tab-panels {
	border-top: none;
	position: relative;

}

/* @group Accordion */

.tab-panels .accordion-buttons {
	background: transparent url('../img/tradein/flip.png') no-repeat bottom right;
	height: 60px;
	line-height: 60px;
	display: block;
	padding: 0 20px;
	cursor: pointer;
	float: none;
	text-transform: uppercase;
} 

.tab-panels .accordion-buttons:hover {
	color: #333;
}

[bstd-tabs-type="2"].tab-button .select, .tab-panels .select {
	background-position: top right;
	background-color: #fff;
	border-bottom: 1px solid #EFEFEF;
}

.accorfion-content {
	padding: 0;
	color: #959595;
	border: none;
	background: #fff;
	width: 100%;
	
}

.accorfion-content .block_item {
	border-bottom: 1px solid #EFEFEF;
}


.accorfion-content .block_item span {
	position: absolute;
	right: 0;
	font-size: 12px;
}


.accorfion-content .block_item .label {
	color: #666;
	padding-right: 10px;
	text-align: left;
	position: relative;
	left: 0;
	right: auto;
}

.flat_text {
	padding: 10px 0;
}
/* @end */
/* @end */

/* @group Preview */

.img_preview {
	position: relative;
	background: #fff;
	border: 1px solid #E4E4E4;
	padding: 24px 20px 55px;
}

.red_pizhnya {
	background-color: #444645;
	width: auto;
	/*height: 47px;*/
	padding: 12px 10px;
	color: #fff;
	font: 10px/1em 'Toyota',Verdana,sans-serif;
	text-transform: uppercase;
	/*position: absolute;*/
    width: auto;
    margin-top: 4px;
}
.red_title {
	font-size: 14.9px;
	line-height: 24px;
	
}
.red_subtitle {
	margin-left: 2px;
}

.preview .img_th {
	height: 47px;
	margin-bottom: 10px;
}

.preview img  {
	padding: 0; margin: 0; display: block;
}

.img_th {
	width: 2000px;
}

.preview .img_th img {
	float: left;
	cursor: pointer;
	background: #fff;
	border: 1px solid #E4E4E4;
	padding: 12px;
	margin: 2px 2px 0 0;
}
.preview .img_th img:hover {
	opacity: 0.8;
}

/* @end */

/* @group Contacts */

.place {
	background: #fff;
	border: 1px solid #E4E4E4;
	padding: 0 20px;
	border-width: 1px 0;
}

.contacts  {
/*	position: absolute;
	top: 0; right: 0;
	line-height: 40px;
	/*color: #707070;*!/*/
}



.map, .phone, .url, .callback, .tofriend, .mailback {
	min-height: 23px;
	line-height: 23px;
	padding-left: 30px;
	display: block;
	margin: 10px 0;
	background: url('../img/tradein/contact_sprite.png') no-repeat;
}

.map {background-position: 0 -115px; }
.phone {background-position: 0 -92px;}
.url {background-position: 0 -69px;}
.callback {background-position: 0 0px;}
.tofriend {background-position: 0 -46px;}
.mailback {background-position: 0 -23px;}

.no_link {
	color: #666 !important; text-decoration: none !important; cursor: default !important;
}

.more_info {
	color: #626262;
	border-top: 1px solid #CDCDCD;
	margin-top: 24px;
	height: 60px;
	line-height: 60px;
}

/* @end */



/* @group Popup-car */

#bstd-popup {
	position: absolute;
	left: 50%;
	margin-left: -385px;
	width: 770px;
	height: auto;
	display: block;
	z-index: 9998;
	top: 50px;
	display: none;
/*	display: block;*/
}

#bstd-popup .carblock {
	padding-bottom: 40px;
}

#bstd-popup .close {
	background: url('/img/sprite.png') no-repeat -66px center;
	width: 22px; height: 22px;
	display: block;
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
	z-index: 9999;
	/*position: relative;*/
}

#bstd-popup .close:hover {
	background-position: -48px center;
}



.overlay {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	position: fixed;
	z-index: 9997;
	display: none;
}



#bstd-popup form .label {
	color: #000;
	margin: 10px 0 4px;
	
}

#bstd-popup form .checkbox_label, #bstd-popup form .radio_label, #bstd-popup input[type="checkbox"] + label, #bstd-popup input[type="radio"] + label {
	float: left;
}

#bstd-popup input[type="checkbox"] + label, #bstd-popup input[type="radio"] + label {
	margin: 11px 20px 5px 5px;
	padding-left: 0;
	width: 9px;
}

#bstd-popup .pre {
	font-size: 10px;
	color: #838383;
	margin-top: 20px;;
}

#bstd-popup .pre em {
	color: #d60000;
}

/* @end */
